<div style="text-align: justify">
  <h1 class="underlined font-large">Организация Вашего бизнеса и работы </br><em class="handwritten" style="font-size: 30px;">в США</em></h1>

  <p><span style="font-size: 1.5em;">Мы предлагает уникальную услугу: разработку и управление инвестиционными проектами</span> 
    - наши специалисты имеют большой
    опыт в разработке инвестиционных проектов в США «с нуля» для наших партнёров. Мы окажем Вам содействие на начальном
    этапе Вашего бизнеса, выступая в качестве слаженной управленческой команды, а в дальнейшем обеспечим не только
    необходимыми для проекта средствами, но и людьми, на которых Вы сможете опереться в развитии своего бизнеса. Осуществляя
    разработку и управление инвестиционными проектами, мы нацелены на создание системы бизнес-процессов.
  </p>

  <p>Мы разработаем концепцию проекта, осуществим запуск проекта и реализацию проекта, окажем юридическое <%= link_to('сопровождение', support_index_path) %>
    всех мероприятий и сделок в рамках реализации проекта, а также привлечем кредитное финансирование или
    инвестиции в проект. Более подробно с нашими услугами Вы можете ознакомиться
    <%= link_to 'здесь', 'http://americaneb5centers.com/services' %>.
    При необходимости мы также подготовим проект для продажи стратегическому инвестору.
  </p>

</div>