<div style="text-align: justify">
  <h1>Инвестиционные услуги</h1>

  <p>
    Исходя из нашего многолетнего опыта и досконального изучения рынка США, мы готовы предложить Вам собственные
    инвестиционные проекты с высокой рентабельностью доходов и минимальными сроками окупаемости.
  </p>

  <p>
    Все проекты запускаются и управляются специалистами нашей компании, что гарантирует минимальные финансовые риски
    для инвестора.
  </p>

  <p>
    <b>Суть предложения:</b> стратегическое партнерство – инвестирование в различные проекты, подбор инвестиционных
    проектов по критериям, заданным потенциальным инвестором.
  </p>

  <p>
    <b>Форма предложения: </b>краткосрочное, среднесрочное и долгосрочное вложение денег с возвратом средств и
    увеличением первоначального капитала при сохранении заданного уровня риска.
  </p>

  <p>
    Спектр предлагаемых инвестиционных проектов компании достаточно широк:от инвестиций в медицинские проекты,
    IT-проекты, банковский сектор, коммерческую недвижимость до инвестиций в коммерческую разработку природных
    ресурсов.
  </p>

  <p>
    Каждый наш проект уникален: со своей историей, легендой и концепцией. Наши специалисты готовы помочь вам в выборе
    подходящего проекта именно для ваших нужд, просто свяжитесь с нами, и мы ответим на все интересующие вас в этой
    области вопросы.
  </p>

  <p>
    Однако, с некоторыми проектами вы можете
    ознакомиться <%= link_to 'здесь', 'http://americaneb5centers.com/projects/' %>
  </p>

</div>