<div style="text-align: justify">
  <h1 class="underlined">Квалифицированная помощь при оформлении американской визы, страхование, бронировании билетов.</h1>

  <h3 class="underlined">Если вы собираетесь в США, то первостепенной вашей задачей станет получение Американской
    визы.</h3>

  <p>Это довольно хлопотное дело, особенно если вы собрались делать это впервые. Если вы не знаете, где оформляют визу и
    как оформить визу правильно, а времени до поездки осталось не много, следует обратиться к профессионалам US BABY
    TIME. Получить Американскую визу в Москве, оформить страховку, подобрать удобные варианты перелета и решить
    остальные формальные вопросы можно легко в нашем партнерском
    агентстве. <%= link_to 'Профессиональный коллектив', page_about_us_path %> уже ни один год оказывает помощь в
    решении даже на первый взгляд самых сложных вопросов.</p>

  <p>Наши специалисты в России могут:</p>

  <ul>
    <li>проконсультировать Вас по всем вопросам оформления визы в США. А также предложить список документов, образцы
      справок и писем, проинформировать о сроках и возможностях оформления визы в ускоренные сроки;
    </li>
    <li>помочь заполнить электронную анкету (онлайн);</li>
    <li>подготовить документы для подачи в Визовый центр США;</li>
    <li>подготовить к собеседованию;</li>
    <li>осуществить запись на подачу документов в Посольства.</li>
  </ul>
  <p>Консультанты визового отдела отслеживают статус визы и своевременно информируют Клиента о готовности визы.</p>

  <p>Наш курьерский отдел оперативно доставляет полученные паспорта в офисы Клиентов.</p>

  <p>Большинство людей получают отказ в американской визе из-за того, что они сделали простую ошибку при заполнении в
    режиме онлайн заявления по форме DS-160, либо они что-то неправильно сказали во время интервью? У Вас может быть
    отличный перечень зарубежных поездок, отличная работа, супруг и дети в родной стране, большой капитал, но если Вы
    напишите или скажите что-либо некорректно, это может привести к отказу в получении американской визы.</p>

  <p>В компании US BABY TIME мы обеспечим, чтобы заявление было заполнено правильно, объясним Вам методику проведения
    интервью, чтобы Вы имели максимально высокие шансы на его успешное прохождение. Мы устраняем все тревожные сигналы и
    сводим к минимуму все проблемные вопросы, которые могут возникнуть у консульского работника, ответственного за
    выдачу визы.</p>
</div>