<div style="text-align: justify;">
  <h1>Список рекомендуемых языковых школ:</h1>
  <ol>

    <li>
      город: МАЙАМИ<br>
      школа: Kaplan International Colleges (KIC)<br>
      Языковые программы интенсивностью от 20 до 35 уроков в неделю<br>
      Продолжительность обучения: от 2-х до 32-х недель<br>
      Минимальный возраст: от 16 лет<br>
      Подробное описание школы KIC Miami смотрите <%= link_to 'здесь', '' %>
      <br>
    </li>
    <br>

    <li>
      город: МАЙАМИ<br>
      школа: European Centre (EC)<br>
      Языковые программы интенсивностью от 20 до 30 уроков в неделю.<br>
      Продолжительность обучения: от 2-х недель до года<br>
      Минимальный возраст: от 16 лет<br>
    </li>
    <br>

    <li>
      город: МАЙАМИ<br>
      школа: ELS Miami<br>
      Языковые программы интенсивностью от 15 до 30 уроков в неделю.<br>
      Продолжительность обучения: от 4-х недель до года (обучение идет строго 4-недельными модулями)<br>
      Минимальный возраст: от 16 лет<br>
      Подробное описание школы EC Miami смотрите <%= link_to 'здесь', '' %>
      <br>
    </li>
    <br>

    <li>
      город: Форт Лодердейл<br>
      школа: Embassy CES<br>
      Языковые программы интенсивностью от 20 до 30 уроков в неделю<br>
      Продолжительность обучения: от 2-х недель до года<br>
      Минимальный возраст: от 16 лет<br>
    </li>
  </ol>
</div>