<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              Иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Список рекомендуемых <em class="handwritten" style="font-size: 30px;">языковых школ</em></h1>
  <ol>

    <li>
      город: МАЙАМИ<br>
      школа: Kaplan International Colleges (KIC)<br>
      Языковые программы интенсивностью от 20 до 35 уроков в неделю<br>
      Продолжительность обучения: от 2-х до 32-х недель<br>
      Минимальный возраст: от 16 лет<br>
      Подробное описание школы KIC Miami смотрите <%= link_to 'здесь', '' %>
      <br>
    </li>
    <br>

    <li>
      город: МАЙАМИ<br>
      школа: European Centre (EC)<br>
      Языковые программы интенсивностью от 20 до 30 уроков в неделю.<br>
      Продолжительность обучения: от 2-х недель до года<br>
      Минимальный возраст: от 16 лет<br>
    </li>
    <br>

    <li>
      город: МАЙАМИ<br>
      школа: ELS Miami<br>
      Языковые программы интенсивностью от 15 до 30 уроков в неделю.<br>
      Продолжительность обучения: от 4-х недель до года (обучение идет строго 4-недельными модулями)<br>
      Минимальный возраст: от 16 лет<br>
      Подробное описание школы EC Miami смотрите <%= link_to 'здесь', '' %>
      <br>
    </li>
    <br>

    <li>
      город: Форт Лодердейл<br>
      школа: Embassy CES<br>
      Языковые программы интенсивностью от 20 до 30 уроков в неделю<br>
      Продолжительность обучения: от 2-х недель до года<br>
      Минимальный возраст: от 16 лет<br>
    </li>
  </ol>
</div>