<div style="text-align: justify;">
  <h1 class="underlined">Подбор курсов английского языка.</h1>

  <p>Представители компании US BABY TIME найдут лучший вариант для Вашего языкового обучения во Флориде на период
    пребывания и позаботимся обо всех сопутствующих услугах.</p>

  <p>Мы предлагаем не просто выучить английский язык, но и сделать это в максимально комфортном и приятном для жизни
    месте. Штат Флорида идеально для этого подходит. Десятки тысяч людей со всего мира приезжают в этот штат, чтобы
    отдохнуть, родить ребенка и заодно выучить язык. Не случайно здесь так много языковых школ. Компания US BABY TIME
    работает лишь с теми школами, которые имеют все необходимые аккредитации и хорошую репутацию.</p>

  <h3 class="underlined">Список некоторых языковых школ Флориды и их краткая характеристика:</h3>
  <ol>

    <li>
      город: МАЙАМИ<br>
      школа: Kaplan International Colleges (KIC)<br>
      Языковые программы интенсивностью от 20 до 35 уроков в неделю<br>
      Продолжительность обучения: от 2-х до 32-х недель<br>
      Минимальный возраст: от 16 лет<br>
      Подробное описание школы KIC Miami<br>
    </li><br>

    <li>
      город: МАЙАМИ<br>
      школа: European Centre (EC)<br>
      Языковые программы интенсивностью от 20 до 30 уроков в неделю.<br>
      Продолжительность обучения: от 2-х недель до года<br>
      Минимальный возраст: от 16 лет<br>
      Подробное описание школы EC Miami<br>
      школа: ELS Miami<br>
      Языковые программы интенсивностью от 15 до 30 уроков в неделю.<br>
      Продолжительность обучения: от 4-х недель до года (обучение идет строго 4-недельными модулями)<br>
      Минимальный возраст: от 16 лет<br>
    </li><br>

    <li>
      город: Форт Лодердейл<br>
      школа: Embassy CES<br>
      Языковые программы интенсивностью от 20 до 30 уроков в неделю<br>
      Продолжительность обучения: от 2-х недель до года<br>
      Минимальный возраст: от 16 лет<br>
    </li>
  </ol>

</div>