<div style="text-align: justify;">
  <h1 class="underlined"><em class=" handwritten" style="font-size: 29px;">Экскурсии</em> с профессиональными гидами</h1>

  <p>
    <span style="font-size: 1.5em">Самый южный штат США Флорида является прекрасным вариантом для посещения в любое
    время года,</span> ведь и в летний, и в зимний период он буквально утопает в солнечном свете и тепле. Во многом
    именно это стало причиной высокой популярности солнечного штата среди туристов всех стран мира, включая и Россию.
    Помимо благоприятного климата здесь есть и немало других особенностей, открывающих массу возможностей для
    развлечений и познавательных экскурсий.
  </p>

  <p>
    Компания US BABY TIME разработала индивидуальные экскурсионные программы, благодаря которым Ваш досуг во Флориде
    будет максимально интересным и запоминающимся. Обзорные экскурсии, пляжный отдых, круизы, прогулки на яхте и рыбалка
    – эти и другие наши предложения позволят Вам увидеть самый солнечный штат США во всем его великолепии.
  </p>

  <h3>Мы предлагаем Вам:</h3>
  <ul style="text-align: left;">
    <li>Обзорные экскурсии во Флориде с русскоговорящими гидами</li>
    <li>Рыбалку, дайвинг, прогулки на яхте и другие развлечения для любителей активного отдыха</li>
    <li>Трансферы между городами</li>
    <li>Встречи и проводы в Майами или Орландо</li>
  </ul>

  <p>
    Мы можем организовать Ваше путешествие и досуг во всей
    <span style="font-size: 1.5em">Флориде (Майами-Ки Вест-Нэйплс-Сент Питерсбург-Тампа-Орландо-Сан Августин-Дайтона Бич-Мыс Канаверал-Палм Бич
      и многие другие направления)</span></b>.
  </p>

  <p>
    Немного подробнее об экскурсиях во Флориде
    <%= link_to 'здесь', organize_excursion_path %>.
  </p>

  <h3>Экскурсии во Флориде</h3>

  <p>
    Самым популярным пляжным курортом штата, безусловно, является Майами. Вы осмотрите район Саут Бич с неповторимой
    архитектурой 20-х годов, пройдете по знаменитой улице Оушен Драйв, увидите Дом Джанни Версаче и дома других
    знаменитостей. Даунтаун Майами, морской порт, Брикель Авеню – улица банкиров, район «Маленькая Гавана», уютный
    Бискайн Бэй покажут Вам разнообразие этого удивительного города. Но это только начало. Чего стоит только один
    Океанариум,
    где проходят представления с касаткой, дельфином-кинозвездой по кличке Флиппер и знаменитым морским львом Солти. Вы
    увидите семейство ламантинов, или морских коров, уникальных вымирающих животных, а также гигантских морских черепах,
    акул, подводный мир карибских морей во всем его разнообразии. За пределами Майами находится огромное количество
    развлечений для всей семьи. Например, немного в стороне от Майами находится заповедник сафари в стране львов - Вы
    попадаете в дикую страну львов, жирафов, носорогов, прохаживающихся рядом с Вашим автомобилем. На пути Вам
    повстречаются стада антилоп, зебр, семейство слонов, шимпанзе. Незабываемые впечатления и фотографии - на всю жизнь!
  </p>

  <p>
    Кроме того, многие туристы, особенно семьи с детьми, приезжают во Флориду, чтобы посетить Орландо с комплексами
    парков Disney World, морской парк Sea World, парк водных аттракционов Wet and Wild, Universal Studios, Islands of
    Adventure, Discovery Cove и Busch Gardens. Космическая экспозиция в центре имени Кеннеди (стартовые площадки
    шаттлов, здание
    управления полетами, запуск космической ракеты-шаттла, музей американской космонавтики), Gatorland в Орландо, Музей
    Сальвадора Дали в центре Сент-Питерсберга (считается самой большой коллекцией работ Дали за пределами Европы), мост
    Sunshine Skyway Bridge - самый длинный вантовый мост в мире, индейские резервации семинолов и Miccosukee - далеко не
    самый полный список достопримечательностей Флориды.
  </p>

  <p>
    Поездка на Ки Уэст (Key West), жемчужину американских курортов, любимое место отдыха американской аристократии и
    знаменитостей, порт-убежище морских пиратов в 17 веке запомнится даже самым искушенным путешественникам. Key West —
    это самая южная точка США.
    Живописная дорога на Ки Уэст проходит по гигантским мостам длиной до 6 км, проложенным через океан, открывающим
    редкие по
    красоте виды и панорамы. Посещение дома-музея Хемингуэя, бара, где он был завсегдатаем многие годы, подъем на
    обзорную
    башню-маяк. Поездка на яхте со стеклянным дном на коралловые рифы, и неповторимая атмосфера праздника, который
    всегда с тобой, - все это ждет Вас на Ки Уэсте в течение круглого года. На острове Ки-Ларго (Key Largo), что в 90
    минутах
    езды от Майами на архипелаге Флорида - Кис (Florida Keys), находится первый подводный парк США - John Pennekamp
    Coral Reef State Park. В декабре 2010 он отмечает свой 50 - летний юбилей. Здесь можно увидеть 3-х метровую
    бронзовую
    скульптуру Христа весом 1,8 тонн, которая находится под водой на глубине 6м.
  </p>
</div>