<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>

<div style="text-align: justify">
  <h1 class="underlined font-large" style="text-align: left">
    Покупка здоровой пищи со специалистом, посещение лучших рынков и
    магазинов, где можно приобрести подлинные
    <span class="handwritten" style="font-size: 30px;">натуральные продукты</span>
  </h1>


  <p>
    <span style="font-size: 1.5em;">Если вы решили родить в Майами, то должны учитывать, что Ваше время нахождения в
      этом курортном городе США займет как минимум несколько месяцев.</span>
    А это значит, что Вам нужно будет покупать продукты для себя и своей семьи правильно
    питаться. К счастью «Флорида — это по-настоящему экологически чистый регион. Здесь нет предприятий тяжелой
    промышленности, загрязняющих окружающую среду, и нефтеперерабатывающих производств, а продукты во многих местах
    совершенно <b><i>натуральные</i></b>, без добавок и консервантов.
  </p>

  <p>
    Для беременных женщин и детей лучшим местом для покупок провизии можно считать наш солнечный штат, где во многих
    местах в продаже – только экологически чистые продукты без ГМО. Органические продукты стоят несколько дороже, но
    зато это гарантия отличного самочувствия будущей мамы и малыша.
  </p>

  <p>
    С консультантами компании US BABY TIME вы сможете порадовать себя новыми покупками, вкусной здоровой <b><i>едой</i></b> и приятной
    обстановкой. Мы поможем будущей маме, приехавшей на роды в США вместе со своей семьей или старшими детьми, выбрать
    правильные экологически чистые продукты. Вы найдете морепродукты и свежее мясо, зелень и фрукты, очень полезные
    беременным и кормящим женщинам.
  </p>


</div>