<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large" style="text-align: left"><em class=" handwritten" style="font-size: 30px;">Подбор</em> детских
    садов, школ и различных детских кружков</h1>

  <p><span style="font-size: 1.5em;">Для будущих мам, кто собирается на роды во Флориду в сопровождении детей,
    представители компании US BABY TIME могут предложить огромное количество возможностей по организации их досуга
    и обучения.</span>Чтобы избавить Вас от лишних забот, мы поможем Вам найти подходящий детский сад,
    специализированные
    кружки или школу для Ваших детей, в соответствии с Вашими требованиями и нашими рекомендациями.</p>

  <p>
    <%= link_to 'Список некоторых детских центров и образовательных центров Флориды и их краткая
        характеристика', organize_kid_garden_list_path %>
  </p>

  <h3>Гармоничное развитие детей более старшего возраста в частных школах Флориды</h3>

  <p>Школы в США не ограничивают своих воспитанников лишь интеллектуальным развитием. Немалый выбор спортивных секций
    гарантирует сбалансированные физические тренировки в групповых (футбол, волейбол, чирлидинг) и в индивидуальных
    видах
    спорта (верховая езда, плавание). Особое место в расписании отведено творчеству: изобразительное искусство, музыка,
    фотография, танцы, драма и т.д. Учеба в США способствует появлению беглой и грамотной английской речи, так как это
    официальный язык общения в школе. К концу обучения дети владеют английским так же свободно, как и родным языком.
    Отличное знание английского вкупе с аттестатом о среднем образовании США позволит ребенку поступить в любой
    европейский или американский ВУЗ. Обучение в средних школах разделено на семестры, в конце которых проводятся
    итоговые
    тесты. Дети демонстрируют свои успехи в учебе, научные и творческие наработки, спортивные достижения. Летние
    каникулы
    в Америке - логическое продолжение учебного года. Школы организуют экскурсии, походы на природу и выезды в город.
  </p>

  <h3>Компания US BABY TIME рекомендует частные школы в США по многим причинам:</h3>
  <ul>
    <li>Комплексное образование и эффективная подготовка к поступлению в лучшие мировые ВУЗы </li>
    <li>Современное техническое оснащение и комфортные условия обучения </li>
    <li>Возможность развивать важные личностные качества (лидерство, честность, верность слову, толерантность и т.д.) 
    </li>
    <li>Обязательные спортивные тренировки и творческие занятия </li>
    <li>Большой выбор школ-пансионов и дневных школ </li>
    <li>Удобное расположение</li>
  </ul>

  <p>
    Все представленные на сайте US BABY TIME школы в США обеспечивают высокий уровень подготовки по академическим
    предметам, среди которых точные и гуманитарные науки, иностранные языки. Занятия проходят в небольших группах,
    благодаря чему преподаватель уделяет внимание каждому ученику, мотивирует его на саморазвитие и поиск своего места в
    жизни. Кроме обязательных уроков, дети ходят на факультативы, участвуют в научно-исследовательской деятельности,
    готовят проекты и презентации.
  </p>

  <%= link_to 'Список некоторых частных школ Флориды и их краткая характеристика', 'http://www.studylab.ru/age2/secondaryeducation/middleschool/country-usa/' %>
</div>