<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large">Подбор других курсов для
    <em class="handwritten" style="font-size: 30px;">родителей</em></h1>

  <p>
    <span style="font-size: 1.5em;">Компания US BABY TIME предлагает родителям разнообразные курсы.</span> Мужской
    половине не придется скучать в ожидании ребенка, ведь во Флориде каждый найдет себе занятие по вкусу, не зависимо
    от возраста и увлечений. Примеры некоторых курсов для взрослых:<br>
    Обучение на курсах Яхтенных капитанов (парусный спорт) во всемирно известных школах (Маями, Форт Лоудердэл), курсы
    подводного плавания, курсы секции спортивной рыбалки, обучение гольфу и катанию на лошадях, сквош, танцы и другие
    многие другие курсы, включая курсы подготовки будущих родителей.
  </p>

  <p>
    За более подробной информацией <%= link_to 'обращайтесь к специалистам компании', page_contact_us_path %>
    US BABY TIME, которые с радостью подберут для Вас курсы в соответствии с Вашими индивидуальными требованиями.
  </p>

</div>