<div style="text-align: justify;">
  <h1 class="underlined">Профессиональный фотограф</h1>

  <p>Сегодня рынок перенасыщен многообразием фотографов и фотостудий, особенно в солнечной Флориде, где спрос на
    действительно хорошего фотографа превышает предложение. Почти каждая семья хотя бы раз пользовалась услугами
    профессионального фотографа, будь то, день рождение, юбилей, семейная или фотосессия беременности. Поэтому очень
    важно найти не просто профессионала в этой деятельности, а человека, для которого фотография - это в первую очередь
    творчество и цель всей жизни, а не только зарабатывание денег. Компания US BABY TIME предлагает услуги не просто
    профессионального фотографа - Елены Кухаревой, владеющего несколькими языками, но и любящей мамы, которая понимает
    что самое ценное в нашей жизни – время, проведенное с любимыми людьми. Прекрасные моменты во Флориде пролетают очень
    быстро, а так хочется сохранить память о них.</p>

  <p>Фотографировать – это значит задержать дыхание, когда все наши способности объединяются в погоне за ускользающей
    реальностью…”  <i>Анри Картье-Брессон</i></p>

  <p>Во время фото сессии нашему профессиональному фотграфу важно поймать момент и отобразить в своих работах чувства,
    эмоции и позитив, которые переполняют моих героев! Обычно фотосъемка проходит в парке или на берегу океана, но всё
    зависит от Ваших пожеланий. Местом фотосъемки возможно выбрать Ваш дом или любое место, которое особенно Вам дорого.
    Главное — чтобы во время съемки Вы чувствовали себя комфортно!</p>

  <p>Наиболее популярным направлением во Флориде является фотосъемка беременных и детей. Нет ничего красивее фотографии
    женщины в "интересном" положении. А уж фото малышей и вовсе могут растрогать любого человека. Также популярна
    фотосъемка крещения ребенка.</p>

  <h3 class="underlined">Фотосессия беременных</h3>

  <p>Беременность - великолепный период в жизни любой женщины. Поэтому я особенно трепетно отношусь к этому виду
    фотографии. Очень трогательные моменты беременности просто обязаны быть запечатлены в виде профессиональных
    фотографий.</p>

  <h3 class="underlined">Фотосъемка детей и новорожденных</h3>

  <p>Не менее интересно снимать маленьких детей и малышей. Особенно замечательные фото получаются у трехнедельных
    малышек. Число моих маленьких фотомоделей неуклонно растет и есть уже целые фотосерии детей в разном возрасте.</p>

  <h3 class="underlined">Семейная фотосессия</h3>

  <p>Заказать профессиональную семейную фотосессию - великолепный способ запечатлеть счастливые моменты жизни вашей
    семьи. Семейная фотосессия проводится как на улице, так и в помещении (в студии или у вас дома).</p>

  <p>Все эти жанры можно сочетать!</p>

  <ul>
    <li>Съемку желательно проводить в светлое время суток, при естественном освещении.</li>
    <li>Есть два варианта съемки “До обеда” и “После обеда”. Все будет зависеть от Вашего распорядка дня и конечно того,
      что вы хотите получить от съемки. Фотосъемку, по Вашему желанию, можно совместить с прогулкой, независимо от
      времени года и погоды.
    </li>
    <li>В кадре будут самые важные люди, моменты, детали… В результате нашей совместной работы, через 1-2 недели, будут
      готовы  примерно 200 обработанных  (кадрирование, цветокоректность) фотографий,  А  выбранные Вами 10 лучших
      фотографий пройдут художественную авторскую обработку. Фотографии могут быть цветными и черно-белыми, оформленные
      на DVD-диск или USB флеш карту.
    </li>
  </ul>
</div>