<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Решение вопросов по подбору,
    <em class="handwritten" style="font-size: 30px;">аренде и покупке жилья</em></h1>

  <p>
    <span style="font-size: 1.5em;">В процессе решения такого непростого вопроса как аренда, или покупка недвижимости в США для собственного
    пользования, либо для последующей сдачи в аренду, важно определиться с приоритетами, не ошибиться с выбором, не
    попасться на уловки мошенников.</span> Лучше довериться команде профессионалов US BABY TIME, которые предоставят
    максимально полную информацию о приобретаемых или арендуемых квартирах, коттеджах, офисных помещениях, помогут с
    оформлением сделки, заключением договора аренды и разрешением спорных вопросов в США. Работа без посредников и
    агентств через наших риэлторов позволит сэкономить драгоценное время и сберечь денежные средства наших клиентов.
  </p>

  <p>
    Недвижимость и проживание во Флориде по соотношению цены и качества являются оптимальными по сравнению, например, с
    более дорогой Калифорнией, а солнце, океан, озера, богатые рыбой, гольф-поля — это далеко не все факторы делающие
    приобретение недвижимости еще более привлекательным в нашем солнечном штате.
  </p>

  <p>
    Флорида, на наш взгляд, очень интересна для инвестиций. Особенно сейчас, когда после падения цен появилась
    прекрасная возможность приобрести недвижимость выгодно.
  </p>

  <p>Мы предлагаем широкий спектр <b>арендной недвижимости</b> и <b>недвижимости для покупки</b> в различных районах
    Майами и в соседних городах под любой бюджет. Вот только небольшой список представленных мест: <i>Авентура, Бал Харбор,
    Даунтаун Майами, Форт Лоудердэйл, Халландэйл, Голливуд, Майами Бич, Мидтаун Майами, Сев.Бэй Виллэдж, Саус Бич, Санни
    Айлс, Серфсайд</i> и т.д. Более подробнее о районах Майами и о наших рекомендациях по подбору недвижимости Вы
    можете узнать <%= link_to 'здесь', '/Apt.pdf' %>.</p>

  <h3>Послеарендное/продажное сопровождение</h3>

  <p>
    Этот тип услуг особенно востребован среди клиентов, впервые посетивших Флориду – благодаря партнерам компании US BABY
    TIME Вы будете чувствовать себя за границей как дома! Решение вопросов с местными коммунальными компаниями, уборка,
    установка русского телевидения и сети Интернет – мы с радостью поможем Вам в любой, даже самой непредвиденной
    ситуации! В случае необходимости мы поможем сдать Вашу недвижимость в аренду, ведь арендный доход во Флориде может
    составлять до 9–15% без налоговых вычетов.
  </p>

  <p>
    Мы предоставим Вам надёжный и проверенный персонал, профессионально справляющийся со своими обязанностями.
  </p>

  <p>
    Не ищите домработниц и персонал самостоятельно. Подумайте, стоит ли доверять человеку с улицы, который может
    оказаться мошенником, непрофессионалом или, ещё хуже, обладать серьезными инфекционными заболеваниями.
  </p>

  <p>
    Если Вам нужна уборщица в квартиру, загородный дом или коттедж, мы готовы подобрать подходящего Вам работника, как на
    полный рабочий день, так и на несколько часов в день 2-3 раза в неделю.
  </p>

</div>