<div style="text-align: justify;">
  <h1 class="underlined font-large">Решение вопросов по подбору, аренде и покупке
    <em class="handwritten" style="font-size: 30px;">жилья</em></h1>

  <p>
    <span style="font-size: 1.5em;">В процессе решения такого непростого вопроса как аренда, или покупка недвижимости в США для собственного
    пользования, либо для последующей сдачи в аренду, важно определиться с приоритетами, не ошибиться с выбором, не
    попасться на уловки мошенников.</span> Лучше довериться команде профессионалов US BABY TIME, которые предоставят
    максимально полную информацию о приобретаемых или арендуемых квартире, коттедже, офисном помещении, помогут с
    оформлением сделки, заключением договора аренды, разрешением спорных вопросов в США. Работа без посредников и
    агентств через наших риэлторов позволит сэкономить драгоценное время и сберечь денежные средства наших клиентов.
  </p>

  <p>
    Недвижимость и проживание во Флориде по соотношению цены и качества являются оптимальными по сравнению, например, с
    более дорогой Калифорнией, а солнце, океан, озера, богатые рыбой, гольф-поля — это далеко не все факторы делающие
    приобретение недвижимости еще более привлекательным в нашем солнечном штате.
  </p>

  <p>
    Флорида, на наш взгляд, очень интересна для инвестиций. Особенно сейчас, когда после падения цен есть возможность
    приобрести недвижимость выгодно. Большое количество непроданных домов и квартир также этому способствует.
  </p>

  <p>Мы предлагаем________________________________-_____в разработке</p>

  <h3>Послеарендное/продажное сопровождение</h3>

  <p>
    Этот тип услуг особенно востребован среди клиентов, впервые посетивших Флориду – благодаря партнерам компании US BABY
    TIME вы будете чувствовать себя за границей как дома! Решение вопросов с местными коммунальными компаниями, уборка,
    установка русского телевидения и сети Интернет – мы с радостью поможем вам в любой, даже самой непредвиденной
    ситуации! В случае необходимости мы поможем сдать вашу недвижимость в аренду, ведь арендный доход во Флориде может
    составлять до 9–15% без вычетов на налоги.
  </p>

  <p>
    Мы предоставляем надёжный и проверенный персонал, профессионально справляющийся со своими обязанностями.
  </p>

  <p>
    Не ищите домработниц и персонал самостоятельно. Подумайте, стоит ли доверять человеку с улицы, который может
    оказаться мошенником, непрофессионалом, лентяем или, ещё хуже, иметь серьезные инфекционные заболевания.
  </p>

  <p>
    Если Вам нужна уборщица в квартиру, загородный дом или коттедж, мы готовы подобрать подходящего вам работника, как на
    полный рабочий день, так и на несколько часов в день 2-3 раза в неделю.
  </p>

</div>