<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Шопинг с дизайнером, посещение специализированных детских
    <em class="handwritten" style="font-size: 29px;">магазинов</em></h1>

  <p>
    <span style="font-size: 1.5em;">Американские торговые центры, пожалуй, самые посещаемые достопримечательности
      страны.</span> Нескончаемые лабиринты магазинов и ресторанов, окруженные многоэтажными парковками, ломятся от
    дорогостоящей продукции со всех концов света, маня покупателей блеском сияющих витрин и обещая неимоверные скидки.
    Именно поэтому компания US BABY TIME предлагает нашим клиентам шоппинг-сопровождение во Флориде. Шопинг - это
    действительно увлекательнейшее занятие. Магазины здесь расположены на каждом углу, и в каждый хочется обязательно
    попасть. Шоппинг или просто прогулки (window shopping) в моллах (торговых центрах) Майами - это еще и всегда
    приятная прохладная температура в просторных залах, когда на улице парилка или горячий субтропический ливень.</p>

  <p> <%= link_to 'Список некоторых торговых центров Флориды', organize_shopping_mall_list_path  %> </p>
  <p> <%= link_to 'Список некоторых детских магазинов Флориды', organize_shopping_kid_magazine_list_path  %> </p>

  <p>
    Шоппинг во Флориде - это естественное желание каждого гостя солнечного штата. Но во время туристической поездки
    можно впустую потерять уйму времени на хождение по магазинам и поиск товаров, моделей, размеров и т.д., так и не
    получив ожидаемого результата. Самошоппинг порой превращается в изнурительную беготню в поиске нужного магазина
    чтобы купить что-нибудь подходящее.
  </p>

  <p>
    Компания US BABY TIME предлагает Вам провести шоппинг-дни во Флориде с персональным шоппером. Доверившись
    специалисту-шопперу, Вы избежите стратегических ошибок не только при обновлении гардероба, но и при покупке стильных
    и необходимых вещей для ребенка.
  </p>

  <h3>Услуги со стороны персонального шоппера:</h3>

  <ul>
    <li>Предварительная консультация с клиентом по планируемым покупкам</li>
    <li>Консультация по цветотипу</li>
    <li>Предварительный выбор мультибрендовых или монобрендовых изделий</li>
    <li>Составление карты шоппинг-маршрута</li>
    <li>Шоппинг-сопровождение и консультация в магазинах в запланированный <i>shopping-day</i>.</li>
    <li>Нами будут учтены Ваши специальные пожелания по поиску любых товаров</li>
  </ul>

</div>