<div style="text-align: justify">
  <h3 class="underlined">Список рекомендуемых торговых центров</h3>

  <p>
    <b>Bayside Marketplace</b><br>
    401 Biscayne Blvd, Miami. 305-577-3344<br><br>
    "Бэйсайд Маркетплэйс" - это уникальное место в Майами, расположенное на берегу Бискайского залива. Это не только
    место, где в многочисленных магазинах и магазинчиках можно найти и купить любую вещь на любой вкус. Прогуливаясь по
    Bayside в любой час, вы ощутите восторженное настроение, но особенно ночью, когда вы откроете здесь для себя La Vida
    Loca - одно из самых популярных мест Майами. Живая латиноамериканская музыка играет почти нон-стоп в выходные дни в
    местных кафе с окнами, выходящими на пристань. Крытые рестораны, такие как Bubba Gump Shrimp Ko, Snappers Bar & Gril
    и Hooters, все имеют вид на набережную. Именно здесь располагается огромный фуд-корт на втором этаже павильона с
    южной стороны и крупнейший известный ресторан Hard Rock Cafe. В этом знаменитом кафе вы окажетесь в обществе
    смотрящих на вас со стен знаменитых киноактеров, певцов, столпов американского шоу-бизнеса и знаменитых спортсменов.
    А если вам очень повезет, то там можно увидеть Мадонну, жующую гамбургер за соседним столикомили молодого и
    симпатичного Рики Мартина.
    Торговый Майами Bayside - это более чем 115 магазинов, так что большинство посетителей никогда не могут обойти всю
    территорию, чтобы увидеть все! Bayside Marketplace включает в себя большинство крупных магазинов, а также небольшие
    бутики. Майами Bayside можно назвать горячей точкой "городского сафари" для тех, кто хочет делать покупки и получать
    при этом эстетическое удовольствие!
  </p><br/>

  <p>
    <b>INTERMIX</b><br>
    634 Collins Ave., Miami Beach. 305-531-5950<br><br>
    На Collins Ave., в районе South Beach, располагается самый знаменитый на сегодняшний день бутик в Майами. Это
    Intermix. Самое модное и стильное заведение города, которое отвечает за шоппинг. Бутик представляет все, что может
    быть привлекательным и sexy в Майами Бич. Магазин отделан внутри в стиле минимализм, чтобы привлечь внимание сразу к
    тому, к чему надо, - к одежде. Хоть магазин и любит рекламировать свой собственный бренд, большая часть продаваемой
    одежды, обуви и аксессуаров носит лейблы самых модных дизайнеров - от бикини Tomas Maier до неповторимых платьев
    Catherine Maladrino и туфель Jimmy Choo. Высокомерный, на первый взгляд, персонал уделяет одинаковое внимание как
    известностям, так и случайным посетителям. К тому же бутик всего в двух кварталах от океана. И не обязательно быть J
    Lo, чтобы купить холщовую фиолетовую сумку за 510 долларов, в магазине часто бывают крупные распродажи.
  </p><br/>

  <p>
    <b>Prime Outlets</b><br>
    250 East Palm Drive, Miami. 305-248-4727<br><br>
    В этой уникальной "деревеньке" с тропической растительностью вокруг можно найти товары брендов высокого качества по
    сниженной цене в более чем 50 фабричных магазинах. Может быть, по меркам крупных торговых центров этот центр
    покажется и небольшим, но эти бутики могут предоставить такое многообразие товаров, что, порой, не в состоянии
    сделать огромные торговые центры. Prime Outles популярен огромным выбором драгоценных камней и наручных часов. Он
    находится прямо на центральном выходе к побережью. Именно поэтому огромное количество людей, выходя с пляжа,
    заворачивают в этот торговый центр. Здесь также расположены детская площадка, различные закусочные и центр службы
    поддержки. Время работы: пн.-сб. - с 10:00 до 21:00, вс. - с 11:00 до 18:00.
  </p>

  <p>
    Malls / Моллы и торговые центры в Майами<br><br>
    Моллы - это постепенно образовавшаяся целая культура в Америке. Это место, куда вы идете не только за покупками, но
    можете провести целый день, особенно если на улице слишком жарко, идет дождь или прочая непогода. Поэтому в моллах
    часто можно встретить целые семьи, прогуливающихся с колясками молодых мам и даже одетых в спортивную одежду
    парочек, которые с бутылкой воды в руках быстро промелькнут, смело отмеривая мили не на стадионе, а на больших и
    удобных пространствах торговых комплексов. Опять же - торговый комплекс - это недостаточное название для молла. Здсь
    обычно есть большое количество закусочных, несколько примкнувших ресторанов, кинотеатр, парикмахерская, СПА, детские
    игровые площадки... Вам сделают массаж в кресле просто "по дорог" между магазинами. Детские карусели, паровозики,
    электрические машинки. К праздникам обычно в любом молле можно сфотографировать вашего малыша на коленях у нарядного
    уютного Деда Мороза к Новому году или рядом с большим ушастым Кроликом к Пасхе.
  </p><br/>

  <p>
    <b>CocoWalk</b><br>
    3015 Grand Avenue, Miami. 305-444-0777<br><br>
    CocoWalk - уникальный торговый центр на открытом воздухе, находящийся в Коконат Гров. Это прекрасное место для
    покупок и закусок. Великолепные бутики, непринужденная обстановка, живая музыка, рестораны, кафе, бары... Помимо
    множества магазинов в CocoWalk, вы сможете также найти ультрасовременный кинотеатр, ночные клубы, несколько арт
    галерей. Все создано для отдыха, как это умеют делать только здесь. В общем, "Take the Walk - to CocoWalk!".
    Время работы: пн.,ср. - с 10:00 до 22:00, чт. - с 10:00 до 01:00, пт.сб. - с 10:00 до 03:00, вс. - с 10:00 до 22:00.
  </p><br/>

  <p>
    <b>Dadeland Mall</b><br>
    7535 N Kendall Dr., Miami. 305-665-6227<br><br>
    Торговый центр Dadeland mall находится в 32-х километрах от центра Майами, к северу Кендалла. Сначала
    предназначенный для торговли на открытом воздухе, сейчас этот торговый центр представляет собой одноэтажный павильон
    крытого типа, расположенный на более чем 400 тыс. квадратных метров. Он включает в себя 185 магазинов и других
    заведений. Здесь можно пообедать в одном из 16-ти ресторанов и закусочных. Dadeland Mall известен такими магазинами
    как Macy's, Macy's Home Gallery & Kids, JCPenney, Saks Fifth Avenue, The Limited/Express и Nordstrom, есть другие
    крупные магазины: Ann Taylor, Banana Republic, Gap и Coach. Внутри торгового центра - детская площадка. Парковка в
    гараже Dadeland Mall бесплатная. Служащие парковки также смогут припарковать вашу машину. Этот торговый центр,
    пожалуй, самый удобный для тех, кто остановился в южной части Майами.
    Время работы: пн.-сб. - с 10:00 до 21:00, вс. - с 12:00 до 18:00.
  </p><br/>

  <p>
    <b>Village of Merrick Park</b><br>
    358 San Lorenzo Ave., Coral Gables. 305-529-0200<br><br>
    В 2002 году торговый центр Village of Merrick Park добился недостижимого: он затмил известный торговый центр Ball
    Harbor Shops по обилию и доступности одежды дизайнерских марок. Раньше, если бы вы захотели потратить
    астрономические деньги на бренды, вам бы пришлось ехать до маленького городка неподалеку от линии Broward County.
    Что было не совсем удобно, живя в Coconut Grove, Coral Gables или Pinecrest. В то время, как Village of Merrick Park
     не только сэкономит вам время поездки, но и не будет отличаться по комфортабельности от своих конкурентов: открытая
    планировка, много воздуха, прекрасные рестораны. В общем, обстановка совсем не напоминает "mall". С такими
    магазинами как Neiman Marcus, Betsey Johnson, Gucii, Tiggany & Co., Jimmy Choo, и La Perla, Merric Park составляет
    достойную конкуренцию другим подобным торговым заведениям. Помимо этого в торговом центре есть один из немногих
    оставшихся книжных магазинов сети Borders.
    Время работы: пн.-сб. -  с 10:00 до 21:00, вс. - 12:00-18:00
  </p><br/>

  <p>
    <b>Dolphin Mall</b><br>
    11401 NW 12 St., Miami. 305-868-6504<br><br>
    Недалеко от городского аэропорта, чуть восточнее, располагается удивительное место - Dolphin Mall. Это превосходный
    торговый центр, который, помимо приобретения товаров, делает довольно серьезный акцент и на питание туристов.  В
    Dolphin Mall располагается около двухсот ресторанов, кафе или баров. И, если учесть, что это все-таки торговый
    центр, тогда становится понятно, что всевозможных бутиков, магазинов и магазинчиков на его территории расположено
    еще больше. Очень удобно, если у вас появилось время до самолета, а в городе у вас не было времени на приобретение
    каких-либо подарков, поехать в Dolphin Mall. Именно в этом торговом центре вы сможете приобрести все необходимое,
    что может понадобиться вам в дороге, а также купить недорогие, но очень стильные и интересные подарки своим близким
    и друзьям из города Майами.
  </p><br/>

  <p>
    <b>Bal Harbour Shops</b><br>
    9700 Collins Ave. Bal Harbour. 305-868-6504<br><br>
    Если для вас одежда - это способ самовыражения, причем, довольно дорогостоящего самовыражения, тогда ваш путь должен
    лежать в Bal Harbour Shops - один из самых разнообразных и самых дорогих торговых центров в мире. И неудивительно,
    ведь именно в этом центре можно встретить бутики Prada, Neiman Marcus, Tiffany & Co и Saks Fifth Avenue. Звезды
    мировой величины предпочитают носить вещи этих торговых марок. И если вы хотите побаловать семя чем-то этаким,
    эксклюзивным, то найти такой товар можно в Bal Harbour Shops. Данный торговый центр удобно располагается на
    центральной улице города Collins Ave в районе Bal Harbour. Именно в этом торговом центре вероятность встреч со
    многими мировыми знаменитостями, звездами шоу-бизнеса и просто светскими людьми возрастает в несколько раз. И даже,
    если у вас нет материальной возможности приобрести что-то в Bal Harbour Shops, просто сходить в этот торговый центр
    и посмотреть на людей вам никто не запретит. Тем более, что в торговом центре Bal Harbour, как и в любом другом
    торговом центре Америки, периодически случаются грандиозные распродажи. И порой ту вещь, на которую из-за ее
    стоимости было страшно взглянуть, можно будет приобрести за вполне доступные средства.
  </p><br/>

  <p>
    <b>Aventura</b><br>
    19501 Biscayne Blvd., Aventura. 305-935-1110<br><br>
    "Авентура" - один из самых любимых торговых центров, которые посещают туристы со всех уголков земли. На территории
    Aventura Mall располагаются Nordstrom, Bloomingdale, Macy's, JC Penny, а также еще около двухсот пятидесяти бутиков
    с мировыми именами. Любая женщина, которая попадает в этот шоппинговый рай, абсолютно забывает о времени, которое
    она здесь проводит. Очень удобно приезжать в этот торговый центр с детьми, ведь на его территории имеется прекрасно
    оборудованная детская площадка. И, пока мамы занимаются покупками, их дети под чутким присмотром работников детской
    площадки весело проводят время. Здесь же можно сделать массаж спины или уставших ног, сходить в кино, перекусить,
    сделать маникюр, прическу. Рядом с популярным молодежным магазином Forever 21 располагается спортивный клуб. Здесь
    же прекрасные рестораны - японский SIAM, итальянский Bella Luna, популярный Grand Luxe, Cheasapeace Factory.
    Торговый центр Aventura Mall - это действительно одно из самых  знаменитейших мест, куда с удовольствием слетаются
    модницы и модники всего мира. Ведь не зря Майами называют столицей шоппинга, именнго такие торговые центры как
    Aventura Mall и несут подобную славу.
  </p><br/>

  <p>
    <b>Sawgrass Mills</b><br>
    12801 W Sunrise Blvd. Sunrise. 954-846-2300<br><br>
    Sawgrass Mills - это самый крупный торговый центр в штате Флорида. Охотитесь ли вы за одной вещью или хотите просто
    провести день, делая покупки, вы не пожалеете, если придете в это место. В более 350-ти магазинах Sawgrass Mills
    есть все: от модной одежды - до ювелирных изделий, от спорттоваров - до продуктов по уходу за кожей, от товаров для
    дома - до игрушек и многого другого. Тут находятся единственные во Флориде Ferragamo Company Store и Tory Burch.
    Людям, разбирающимся в моде, понравится отсек The Colonnade Outlets.
    Время работы: пн.-сб. - с 10:00 до 21:30, вс. - 11:00 - 20:00.
  </p>

  <p>
    Видя большое разнообразие брендов и красочные витрины на улицах самого солнечного штата Америки, почти невозможно
    удержаться от соблазна не приобрести что-нибудь модное и качественное не только для себя, но и для маленького
    ребенка.
    В другой стране, в другом городе, на чужом языке сложно найти и приобрести все необходимое. Придется приложить
    немало
    усилий, причем как физических, так и моральных.
  </p>

  <p>
    Мы хотим вам в этом помочь. Во-первых, вы всегда можете надеяться на нашу помощь. Мы отвезем вас в лучшие детские
    магазины Майами. Наши сотрудники сопроводят вас на шопинг, дадут консультацию (они знают особенности местных
    товаров),
    переведут, если понадобится. С нашей помощью ваш шопинг превратится в приятное удовольствие. Мы предоставим вам
    список
    самых лучших детских магазинов Майами, где вы сможете приобрести красивые и безопасные игрушки-погремушки, теплые
    носочки, качественные пустышки, самые разнообразные бутылочки и подгузники, и, конечно, самые красивые наряды для
    вашего малыша.
  </p></div>