<div style="text-align: justify;">
  <h1 class="underlined">Список рекомендуемых детских магазинов</h1>

  <p>
    <b>Babies R Us (Бэйбиз Ар Аз)</b> – детский универмаг, где продается все для новорожденных и детей до двухлетнего возраста.
    Адрес: 2745 N.E. 193rd St., Miami, FL 33180; Тел: 305 705-9893
  </p>

  <p>
    <b>Toys R Us (Тойз Ар Аз)</b> – детский универмаг, специализирующийся на различных товарах для детей дошкольного возраста
    (от двух до пяти-шести лет). Большой выбор игрушек. Адрес: 551 N.E. 167th St., North Miami Beach, FL 33162; Тел: 305
    653-8697
  </p>

  <p>
    <b>Bye Bye Baby (Бай Бай Бэйби)</b> – крупный универмаг детских товаров для новорожденных и детей до возраста двух лет.
    Адрес: 11350 Pines Blvd., Pembroke Pines, FL 33026; Тел: 954 450-6257
  </p>

  <p>
    <b>Liapela Modern Baby (Лиапела)</b> – небольшой магазин для детей товаров премиум класса. Здесь вы найдете большой выбор
    колясок, детской мебели, мягких игрушек и мелочей, таких как наборы по уходу за гигиеной малышей (ножнички, щеточки
    и т.д.). Адрес: 600 Silks Run #1280, Hallandale, FL 33009; Тел: 954 457-2276 www.liapela.com
  </p>

  <p>
    <b>Ideal Baby and Kids (Айдиал Бэйби энд Кидс)</b> – специализированный магазин детских товаров, где продается все от
    мелочей до крупных товаров, таких как мебель, коляски и т.д. Товары предназначены для новорожденных до детей
    школьного возраста. Адрес: 12151 Pines Blvd., Pembroke Pines, FL 33026; Тел: 954 620-2229 www.landofnod.com
  </p>

  <p>
    <b>Nini and Loli (Нини энд Лоли)</b> – здесь предлагается широкий ассортимент детских дизайнерских товаров от новорожденных
    и до детей трех лет. Адрес: 2962C Aventura Blvd., Aventura, FL 33180; Тел. 305-936-9959 www.niniandloli.com
  </p>

  <p>
    <b>Cotton Baby(Kатн Бэйби)</b> – одежда из натуральных тканей для детей от младенческого до двухлетнего возраста.  Авентура
    Молл www.cottonbaby.com
  </p>

</div>