<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Помощь в бронировании билетов на различные
    <em class="handwritten" style="font-size: 30px;">мероприятия</em></h1>

  <p>
    <span style="font-size: 1.5em;">Компания US BABY TIME предоставит Вам:</span>
  </p>
  <ol>
    <li>Исчерпывающую информацию о ресторанах и кафе в США и зарезервирует столик в выбранном Вами месте.</li>
    <li>Информацию о дате, времени и месте проведения спортивных/культурных мероприятий в нужном регионе, а также
      информацию о цене и наличии билетов и адреса/телефоны касс. По запросу наша компания забронирует, выкупит и, при
      необходимости, организует доставку выбранных Вами билетов.
    </li>
    <li>Информацию о спортивных клубах, салонах красоты, гольф-клубах, туристических экскурсиях в нужном регионе - цены,
      условия, время и место проведения мероприятий. По запросу наша компания организует посещение Вами выбранного
      места, организует понравившуюся экскурсию и многое другое.
    </li>
    <li>Предоставит адреса салонов и магазинов, где можно приобрести необходимую Вам вещь, а также по Вашему запросу и,
      если будет возможно, организует заказ и доставку этого предмета в любой точке мира, где данный сервис возможен.
    </li>
    <li>Вызовет такси, где бы Вы не находились в любое время суток</li>
    <li>Предоставит информацию о дате, времени и месте необходимого Вам сеанса фильма. При необходимости консьерж
      забронирует для Вас необходимое количество билетов на выбранный сеанс.
    </li>
    <li>Окажет содействие клиенту в организации мероприятий (день рождения, юбилей, корпоративный праздник и т. д.), а
      также в поиске и резервировании подходящего места и сервисного агентства через наших партеров.
    </li>
  </ol>
</div>