<div style="text-align: justify">
  <h1 class="underlined">Предоставление квалифицированного переводчика</h1>

  <p>Компания US BABY TIME предлагает Вам услуги:</p>

  <p>
    всех видов письменных переводов. Мы квалифицированно выполняем переводы финансовой и юридической документации, а
    также переводы в медицинских документов (анализов, УЗИ, обменной карты и т.д.).
  </p>

  <p>
    Мы осуществляем устные последовательные и синхронные переводы для поддержки любых ваших потребностей, на всех
    медицинских приемах у гинеколога и педиатра, в госпитале на родах, а также услуги переводчика для личного
    общения.
  </p>

  <p>
    Пользуйтесь услугами только настоящих профессионалов, имеющих богатый опыт работы (более 20 лет) в сфере письменных
    и устных переводов.
  </p>

</div>
