<div style="text-align: justify;">
  <h1 class="underlined">Помощь в аренде на выгодных условиях транспортного средства</h1>

  <p>
    Компания US BABY TIME поможет вам забронировать авто без каких-либо наценок, оплачивая исключительно саму стоимость
    аренды. А если вы заранее побеспокоитесь об этом вопросе, то стоимость будет еще более низкой. Причем, благодаря
    тому, что поддержка осуществляется на русском языке, у вас не возникнет никаких проблем связанных с языковым
    барьером.
  </p>

  <p>
    Арендуя автомобиль у наших партнеров (в аэропорту, в самом городе, или у вас дома — неважно) вы получаете массу
    выгод:
  </p>
  <ul>
    <li>новые автомобили;</li>
    <li>полную страховку;</li>
    <li>гибкие условия аренды на любой срок;</li>
    <li>доставку авто на дом;</li>
    <li>отсутствие требования получать местное водительское удостоверение;</li>
    <li>детское кресло-бесплатно.</li>
  </ul>
  <p>Автопарки наших партнеров формируются из современных моделей автомобилей различного класса. Все машины имеют
    небольшой пробег и отличное техническое состояние, не зависимо от модели и класса.</p>

  <p>С 1 сентября 2013 года для наших клиентов действует специальное предложение по аренде автомобилей Toyota Camry в
    Майами. При аренде от 1 месяца – стоимость составит 1000$ в месяц, включая все налоги и сборы. Доставка и возврат
    машины осуществляются у Вас дома.</p>

  <p>Машины сдаются в аренду на основании договора аренды.</p>

  <p>
    Условия аренды: полная страховка (КАСКО), франшиза 0;<br>
    Депозит 300$ – возвращается в день возврата машины;<br>
    Второй водитель – бесплатно;<br>
    Навигатор – бесплатно;<br>
    Авто кресло – бесплатно;<br>
    Возможна оплата пластиковыми картами VISA & Mastercard (+3%).<br>
  </p>

  <p>Необходимо предварительное бронирование данной услуги.</p>
</div>