<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large" style="text-align: left;">Предоставление квалифицированного
    <em class="handwritten" style="font-size: 30px;">переводчика</em></h1>

  <p>
    <span style="font-size: 1.5em;">Компания US BABY TIME предоставит Вам услуги:</span>
  </p>

  <p>
    Всех видов письменных переводов. Мы квалифицированно выполняем переводы финансовой и юридической документации, а
    также переводы в медицинских документов (анализов, УЗИ, обменной карты и т.д.).
  </p>

  <p>
    Мы осуществляем устные последовательные и синхронные переводы для поддержки любых Ваших потребностей, на всех
    медицинских приемах у гинеколога и педиатра, в госпитале на родах, а также услуги переводчика для личного
    общения.
  </p>

  <p>
    Пользуйтесь услугами только настоящих профессионалов, имеющих богатый опыт работы (более 20 лет) в сфере письменных
    и устных переводов.
  </p>

</div>
