<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Сопровождение в салоны красоты и подбор женских
    <em class="handwritten" style="font-size: 30px;">услуг</em></h1>

  <p>
    <span style="font-size: 1.5em">Каждая женщина, ожидающая ребенка, и решившая приехать на роды в Америку в один из
      лучших курортов мира город Майами, хочет всегда выглядеть красиво</span>. Помочь в этом могут многочисленные
    салоны красоты, среди которых <i>VIP Beauty Salon & Spa</i>, Aqualina Beauty Salon и многие другие.</p>

  <p>
    В салонах мастера используют средства для укладки и окрашивания волос на натуральной основе Organic Color. А для
    макияжа – только качественную и безвредную профессиональную косметику L’OREAL, что очень важно для беременной
    женщины и кормящей мамы.</p>

  <p>
    Кроме этого, к услугам будущих мам наращивание ногтей и биоэпиляция, маникюр, педикюр и многие другие приятные
    процедуры. Вам помогут безупречно выглядеть в любом месте – на пляже, на приеме у доктора, в госпитале Майами
    или родильном доме и на прогулке с детьми.</p>

  <p>
    Сотрудники компании US BABY TIME подберут для Вас салон красоты и специалиста любого профиля в соответствии с Вашими
    требованиями, а также обеспечат <b>трансфер</b>, запишут на прием и при необходимости окажут <b>услуги персонального
    консультанта и переводчика.</b></p>

  <p> <%= link_to 'Список некоторых салонов красоты Флориды', organize_women_service_list_path %></p>

</div>