<div style="text-align: justify;">
  <h1 class="underlined">Сопровождение в салоны красоты и подбор женских услуг</h1>

  <p>
    Каждая женщина, ожидающая ребенка, и решившая приехать на роды в Америке в один из лучших курортов мира город
    Майами, хочет всегда выглядеть красиво. Помочь в этом могут многочисленные салоны красоты, среди которых
    <i>VIP Beauty Salon & Spa</i> , Aqualina Beauty Salon и многие другие.</p>

  <p>
    В этом салоне мастера используют средства для укладки и окрашивания волос на натуральной основе Organic Color. А для
    макияжа – только качественную и безвредную профессиональную косметику L’OREAL, что очень важно для беременной
    женщины и кормящей мамы.</p>

  <p>
    Кроме этого, здесь к услугам будущих мам наращивание ногтей и биоэпиляция, маникюр, педикюр и многие другие приятные
    процедуры. Здесь вам помогут безупречно выглядеть в любом месте – на пляже, на приеме у доктора, в госпитале Майами
    или родильном доме и на прогулке с детьми.</p>

  <p>
    Сотрудники компании US BABY TIME подберут для вас салон красоты и специалиста любого профиля в соответствии с вашими
    требованиями, а также обеспечат трансфер, запишут на прием и при необходимости окажут услуги персонального
    консультанта и переводчика.</p>

  <p> <%= link_to 'Список некоторых салонов красоты Флориды.', organize_women_service_list_path %></p>

</div>