<div class="clearf"></div>
<div id="footer">
  <div class="left" style="margin-left: 150px">
      <%= image_tag 'logo_light.jpg', :height => 100, :width => 110 %>
  </div>
  <div class="left" style="margin-left: 100px">
      <p>FLORIDA</p>
      <p>2455 E Sunrise Blvd.</p>
      <p>Suite 906</p>
      <p>Fort Lauderdale, Florida USA 33304</p>
      <p>Tel: 1.954-296-3741</p>
      <p>Tel: 1.800-597-1056</p>
      <p>Fax: 1.801-847-6969</p>
  </div>
   <div class="handwritten" style="margin-left:50px; font-size: 8px;">
      <%= render 'shared/menu' %>
   </div>

</div><!--footer1-->