<div class="clearf"></div>
<div id="footer">
  <div class="left" style="margin-left: 50px">
      <%= image_tag 'logo_light.jpg', :height => 100, :width => 110 %>
  </div>
  <div class="left" style="margin-left: 50px">
      <p>Suite 906 / 2455 E Sunrise Blvd. /FLORIDA</p>
      <p>Fort Lauderdale, Florida USA 33304</p>
      <p>Tel: 1.844-638-1123 / Tel: 1.954-296-3741 / Fax: 1.801-847-6969</p>
  </div>
   <div class="handwritten" style="margin-left:30px; margin-top: 15px; font-size: 7px; display: inline-block;">
      <%= render 'shared/menu' %>
   </div>

</div><!--footer1-->