<div class="clearf"></div>
<div id="footer">
  <p>
    <span>US BABY TIME</span>
    <span style="margin-left: 560px;">FLORIDA</span>
  </p>
  <p>2455 E Sunrise Blvd.</p>
  <p>Suite 906</p>
  <p>Fort Lauderdale, Florida USA 33304</p>
  <p>Tel: (1)800-597-1056</p>
  <p>Fax: (1)801-847-6969</p>
</div><!--footer1-->