<div id="visit">
  <h1 class="handwritten underlined font-large">Plan your visit...</h1>
  <p>Tell us the details of your event, and we will contact you to set up a time for you to visit our property.</p>
  <a name="visitform" id="visitform"></a>
  <form action="" method="post">
    <label for="name">Name</label>
    <input name="name" type="text" id="name" class="input" value=""><br>
    <label for="email">Email</label>
    <input name="email" type="text" id="email" class="input" value=""><br>
    <label for="phone">Phone number</label>
    <input name="phone" type="text" id="phone" class="input" value=""><br>
    <select name="type" class="select">
      <option value="0">Event type</option>
      <option value="wedding">wedding</option>
      <option value="reception">reception</option>
      <option value="rehearsal dinner">rehearsal dinners</option>
      <option value="dinner party">dinner party</option>
      <option value="anniversary party">anniversary party</option>
      <option value="shower">shower</option>
      <option value="church social">church social</option>
      <option value="holiday party">holiday party</option>
      <option value="seminar">seminar</option>
      <option value="business meeting">business meeting</option>
      <option value="galas">galas</option>
      <option value="school picnic">school picnic</option>
      <option value="tour group">tour group</option>
      <option value="social gathering">social gathering</option>
    </select><br>
    <select name="month" class="select small">
      <option value="0">Month</option>
      <option value="Jan">Jan</option>
      <option value="Feb">Feb</option>
      <option value="Mar">Mar</option>
      <option value="Apr">Apr</option>
      <option value="May">May</option>
      <option value="Jun">Jun</option>
      <option value="Jul">Jul</option>
      <option value="Aug">Aug</option>
      <option value="Sep">Sep</option>
      <option value="Oct">Oct</option>
      <option value="Nov">Nov</option>
      <option value="Dec">Dec</option>
    </select>
    <select name="day" class="select small">
      <option value="0">Day</option>
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select><br>
    <select name="time" class="select">
      <option value="0">Time of day</option>
      <option value="all day">all day</option>
      <option value="morning">morning</option>
      <option value="afternoon">afternoon</option>
      <option value="evening">evening</option>
    </select><br>
    <select name="guests" class="select">
      <option value="0">People count</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><br>
    <label>Details of your event</label>
    <textarea name="details" cols="10" rows="5" class="textarea"></textarea><br>
    <input name="submit" type="image" class="submit" value="submit" src="<%= image_path 'submit.gif' %>" alt="submit">
  </form>

  <div id="fb-root"></div>

  <script>
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=695068907206414";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-activity" data-site="developers.facebook.com" data-action="likes, recommends" data-width="205" data-max-age="10" data-colorscheme="light" data-header="true"></div>
</div>