<div id="visit">
  <h1 class="underlined font-large" >Спланируйте свой <em class="handwritten" style="font-size: 30px;">визит...</em></h1>
  <p>Сообщите нам детали о себе и наш специалист свяжется с Вами, проконсультирует по всем возникшим вопросам
  и организует Вашу поездку. Вам останется лишь наслаждаться прекрасными моментами жизни.</p>
  <a name="visitform" id="visitform"></a>
  <form action="" method="post">
    <label for="name">Имя</label>
    <input name="name" type="text" id="name" class="input" value=""><br>
    <label for="email">Электронная почта</label>
    <input name="email" type="text" id="email" class="input" value=""><br>
    <label for="phone">Номер телефона</label>
    <input name="phone" type="text" id="phone" class="input" value=""><br>
    <select name="type" class="select">
      <option value="0">Выбор желаемых услуг</option>
      <option value="Организационные услуги">Организационные услуги</option>
      <option value="Сопровождение беременности и родов">Сопровождение беременности и родов</option>
      <option value="Иммиграционные и ивестиционные услуги">Иммиграционные и инвестиционные услуги</option>
    </select><br>
    <select name="month" class="select small">
      <option value="0">Месяц</option>
      <option value="Jan">Январь</option>
      <option value="Feb">Февраль</option>
      <option value="Mar">Март</option>
      <option value="Apr">Апрель</option>
      <option value="May">Май</option>
      <option value="Jun">Июнь</option>
      <option value="Jul">Июль</option>
      <option value="Aug">Август</option>
      <option value="Sep">Сентябрь</option>
      <option value="Oct">Октябрь</option>
      <option value="Nov">Ноябрь</option>
      <option value="Dec">Декабрь</option>
    </select>
    <select name="day" class="select small">
      <option value="0">День</option>
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select><br>
    <select name="guests" class="select">
      <option value="0">Количество людей</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><br>
    <label>Детали</label>
    <textarea name="details" cols="10" rows="5" class="textarea"></textarea><br>
    <input name="submit" type="image" class="submit" value="Отправить" src="<%= image_path 'submit.gif' %>" alt="submit">
  </form>

  <div id="fb-root"></div>

  <script>
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=695068907206414";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-activity" data-site="developers.facebook.com" data-action="likes, recommends" data-width="205" data-max-age="10" data-colorscheme="light" data-header="true"></div>

  <div style="margin-left: 40px; margin-top: 30px">
    <iframe src="http://free.timeanddate.com/clock/i44cxonz/n156/szw110/szh110/cf100/hnce1ead6" frameborder="0" width="120" height="120"></iframe>
  </div>

</div>