<div class="toolbar">
  <div>
    <span style="position: relative; top: -8px;">
        <span><a class="font-medium" href="tel:+1.844.638.1123">1.844-638-1123</a></span>
        <span style="margin-left: 10px;"><a class="font-medium" href="tel:+1.954.296.3741">1.954-296-3741</a></span>
    </span>

    <span style="position: relative; top: -8px; margin-left: 20px;">
      <a class="font-medium" href="mailto:usbabytime@yahoo.com">usbabytime@yahoo.com</a>
    </span>

    <span style="margin-left: 20px;">
      <a href="https://www.facebook.com/groups/450956344973158/">
        <%= image_tag 'facebook.png', :height => 32, :width => 32 %>
      </a>
      <a href="skype:usbabytime?call">
        <%= image_tag 'skype.png', :height => 32, :width => 32 %>
      </a>
      <a href="http://vk.com/usbabytime">
        <%= image_tag 'vk.png', :height => 32, :width => 32 %>
      </a>
    </span>

    <span id="google_translate_element" style="position: relative; top: -10px;"></span>
  </div>
</div>