<h1>Контакты</h1>

<p>Если у Вас есть любые вопросы – задавайте! Мы с радостью на них ответим!</p>

<p>
    e-mail: usbabytime@gmail.com<br>
    Прямой телефон: +1-954-296-37-41<br>
    Skype: USBabyTime<br>
    страница в Facebook - http://www.facebook.com/natalia.kirk.1<br>
    мы в VK.com: http://vk.com/usbabytime<br>
    мы в Twitter: http://twitter.com/usbabytime<br>
    Руководитель Команды US Baby Time – активный участник форума о родах в США в Facebook - http://www.facebook.com/groups/325933437448506/ (здесь же можно почитать отзывы о нашей работе и лично пообщаться с руководителем и нашими клиентами)<br>
    Так же в можно с нами связаться через программы WhatsApp, Viber, Line, ChatOn для Вашего удобства.<br>
    Ждем встречи с Вами и Welcome to Miami!<br>
</p>

<p>
    С уважением,<br>

    Руководитель Ком-пании US Baby Time!<br>
    Наталья Кирк<br><br>

    Как нас найти<br><br>

    Наш центральный офис компании US BABY TIME расположен в Форт-Лодердейле по адресу:<br><br>

    FLORIDA<br>
    2455 E Sunrise Blvd<br>
    Suite 906<br>
    Fort Lauderdale, Florida USA 33304<br>
    Tel: 1.954-296-3741<br>
    Tel: 1.800-597-1056<br>
    Fax: 1.801-847-6969<br>
    Мы ждем Вас с 9-00 до 18-00, с Понедельника по Пятницу.<br>
</p>