<h1 class="underlined font-large">Контакты</h1>

<p>
  <span class="handwritten" style="font-size: 20px">Если у Вас есть любые вопросы – задавайте!</span>
  <br>Мы с радостью на них ответим!
</p>

<p>
    e-mail: usbabytime@gmail.com<br>
    Прямой телефон: +1-954-296-37-41<br>
    Skype: USBabyTime<br>
    страница в Facebook - http://www.facebook.com/natalia.kirk.1<br>
    мы в VK.com: http://vk.com/usbabytime<br>
    мы в Twitter: http://twitter.com/usbabytime<br>
    Руководитель Команды US Baby Time – активный участник форума о родах в США в Facebook - http://www.facebook.com/groups/325933437448506/ (здесь же можно почитать отзывы о нашей работе и лично пообщаться с руководителем и нашими клиентами)<br>
    Так же в можно с нами связаться через программы WhatsApp, Viber, Line, ChatOn для Вашего удобства.<br><br>
    <span class="handwritten" style="font-size: 20px">Ждем встречи с Вами и Welcome to Miami!</span><br>
</p>

<p>
    С уважением,<br>

    Руководитель Ком-пании US Baby Time!<br>
    Наталья Кирк<br><br>

    Как нас найти<br><br>

    Наш центральный офис компании US BABY TIME расположен в Форт-Лодердейле по адресу:<br><br>

    FLORIDA<br>
    2455 E Sunrise Blvd<br>
    Suite 906<br>
    Fort Lauderdale, Florida USA 33304<br>
    Tel: 1.954-296-3741<br>
    Tel: 1.800-597-1056<br>
    Fax: 1.801-847-6969<br>
    Мы ждем Вас с 9-00 до 18-00, с Понедельника по Пятницу.<br>
</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fort+Lauderdale,+Florida+USA+33304&amp;aq=&amp;sll=54.316523,23.862305&amp;sspn=14.823697,40.429687&amp;ie=UTF8&amp;hq=&amp;hnear=Fort+Lauderdale,+Florida+33304,+United+States&amp;ll=26.135197,-80.117734&amp;spn=0.088928,0.157928&amp;t=m&amp;z=13&amp;output=embed"></iframe>
<br/>
<small>
  <a href="https://maps.google.ru/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Fort+Lauderdale,+Florida+USA+33304&amp;aq=&amp;sll=54.316523,23.862305&amp;sspn=14.823697,40.429687&amp;ie=UTF8&amp;hq=&amp;hnear=Fort+Lauderdale,+Florida+33304,+United+States&amp;ll=26.135197,-80.117734&amp;spn=0.088928,0.157928&amp;t=m&amp;z=13" style="color:#0000FF;text-align:left">View
    Larger Map</a>
</small>