<h1 class="underlined handwritten" style="font-size: 30px;">Контакты</h1>

<p>
  <span style="font-size: 1.5em;">Если у Вас есть любые вопросы – задавайте!</span>
  <br>Мы с радостью на них ответим!
</p>

<p>
    E-mail: <a href="mailto:usbabytime@yahoo.com">usbabytime@yahoo.com</a><br>
    Прямой телефон: <a href="tel:+1.954.296.3741">+1.954-296-3741</a><br>
    Skype: <a href="skype:usbabytime?call">USBabyTime</a><br>
    Страница в Facebook - <a href="http://www.facebook.com/natalia.kirk.1">http://www.facebook.com/natalia.kirk.1</a><br>
    Мы в VK.com: <a href="http://vk.com/usbabytime">http://vk.com/usbabytime</a><br>
    Мы в Twitter: <a href="http://twitter.com/usbabytime">http://twitter.com/usbabytime</a><br>
    Руководитель Команды US Baby Time – активный участник форума о родах в США в Facebook -
    <a href="http://www.facebook.com/groups/325933437448506/">http://www.facebook.com/groups/325933437448506/</a>
    (здесь же можно почитать отзывы о нашей работе и лично пообщаться с руководителем и нашими клиентами)<br>
    Так же с нами можно связаться через программы WhatsApp, Viber, Line, ChatOn для Вашего удобства.<br>
    <span style="font-size: 1.5em;">Ждем встречи с Вами и Welcome to Miami!</span><br>
</p>

<p>
    С уважением,<br>

    Руководитель Компании US Baby Time!<br>
    Наталья Кирк<br><br>
    <%= image_tag 'photo_nataly.jpg', :alt => 'Natalia Kirck photo' %>

<h1 class="underlined handwritten font-large" style="font-size: 30px;">Как нас найти</h1>
<p>
    <span style="font-size: 1.5em;">Наш центральный офис компании US BABY TIME расположен в Форт-Лодердейле по адресу:</span><br><br>

    FLORIDA<br>
    2455 E Sunrise Blvd<br>
    Suite 906<br>
    Fort Lauderdale, Florida USA 33304<br>
    Tel: 1.954-296-3741<br>
    Tel: 1.800-597-1056<br>
    Fax: 1.801-847-6969<br>
    Мы ждем Вас с 9-00 до 18-00, с Понедельника по Пятницу.<br>
</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=2455+E+Sunrise+Blvd+%23906,+East+Fort+Lauderdale,+Fort+Lauderdale,+Broward+County,+Florida+33304,+United+States&amp;aq=&amp;sll=55.354135,40.297852&amp;sspn=20.924246,39.506836&amp;ie=UTF8&amp;geocode=FWPWjgEdRI85-w&amp;split=0&amp;hq=&amp;hnear=2455+E+Sunrise+Blvd+%23906,+Fort+Lauderdale,+Florida+33304,+United+States&amp;ll=26.138211,-80.113852&amp;spn=0.008023,0.009645&amp;t=m&amp;z=14&amp;output=embed"></iframe>
<br/>
<small>
  <a href="https://maps.google.ru/maps?f=q&amp;source=embed&amp;hl=en&amp;q=2455+E+Sunrise+Blvd+%23906,+East+Fort+Lauderdale,+Fort+Lauderdale,+Broward+County,+Florida+33304,+United+States&amp;aq=&amp;sll=55.354135,40.297852&amp;sspn=20.924246,39.506836&amp;ie=UTF8&amp;geocode=FWPWjgEdRI85-w&amp;split=0&amp;hq=&amp;hnear=2455+E+Sunrise+Blvd+%23906,+Fort+Lauderdale,+Florida+33304,+United+States&amp;ll=26.138211,-80.113852&amp;spn=0.008023,0.009645&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View
    Larger Map</a>
</small>