<h1>Организационные услуги</h1>
<p>
  Если вы мечтаете о новой этапе жизни вдали от суеты и повседневности, то ваши
  мечты сбудутся в солнечной Флориде. Красивейшая природа послужит отличными
  декорациями к вашему новому опыту, а мы возьмем на себя все организационные
  хлопоты. Просто расслабьтесь и наслаждайтесь друг другом, ведь жизнь не такая уж
  длинная, чтобы растрачивать ее на беспокойство и мелочи, связанные с формальными
  вопросами, когда это может сделать команда профессионалов US BABY TIME.
  Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о
  нашей компании.
</p>
<p>
  Мы предлагаем вам следующие услуги, и если Вас интересует какой-либо другой
  вопрос – вы всегда можете обратиться к нам 24/7 Контакты ссылка:
</p>
<ul style="width: 100%;">
  <li>
    Квалифицированная помощь при оформлении американской визы, страхование,
    бронировании билетов;
  </li>
  <li>
    Решение вопросов по подбору, аренде и покупке жилья и послеарендное, продажное сопровождение;
  </li>
  <li>
    Помощь в аренде на выгодных условиях транспортного средства;
  </li>
  <li>
    Предоставление транспортных услуг (трансфер, сопровождение).
  </li>
</ul>

<h1>
  Сопутствующие услуги
</h1>

<ul style="width: 100%;">
  <li>
    Экскурсии с профессиональными гидами, в том числе рыбалка на частной яхте с
    русскоязычным капитаном;
  </li>
  <li>Профессиональный фотограф;</li>
  <li>
    Шоппинг с дизайнером, а также посещение специализированных детских
    магазинов;
  </li>
  <li>
    Покупка здоровой пищи со специалистом, а также посещение лучших рынков и
    магазинов, где можно приобрести подлинные натуральные продукты;
  </li>
  <li>
    Сопровождение в салоны красоты и подбор женских услуг;
  </li>
  <li>Помощь в бронировании (билеты) на различные мероприятия;</li>
  <li>Подбор курсов английского языка;</li>
  <li>Подбор других курсов для родителей;</li>
  <li>Подбор детских садов, школ и различных детских кружков. Предоставление необходимой консультации;</li>
  <li>Предоставление квалифицированного переводчика.</li>
</ul>
<h1>С чего начать/Getting started</h1>
<p>
  Свяжитесь с нами. US BABY TIME - компания для обеспечения качества Вашей жизни во
  Флориде.
</p>
<p>
  Мы прекрасно понимаем, что планирование поездки – это дополнительная
  психологическая и эмоциональная нагрузка. Мы готовы взять на себя все
  организационные хлопоты, что бы Вы чувствовали себя в окружении комфорта и
  абсолютной безопасности еще до начала поездки.
</p>
<h1>Почему мы/Testimonials</h1>
<p>
  Посетите раздел Почему мы (clickable link)смотри документ Почему мы чтобы получить
  больше информации о наших сотрудниках. Мы сотрудничаем с крупнейшими мировыми
  агенствами делового туризма http://continent.ru, http://cbtc.ru и агентствами полного цикла
  профессиональных операций в области корпоративных мероприятий, бизнес трэвел http://maximice.ru и другими.
  В бизнес-группу входят компании US BABY TIME(http://usbabytime.com - clickable
  link), Credit Services of America(http://www.creditservicesamerica.com - clickable link)
  , American EB-5 Centers(http://americaneb5centers.com -clickable link), Data Business
  Systems(в разработке - clickable link) и многие другие.
</p>

<h1>Нас рекомендуют</h1>
<p>
  Мы хотим узнать Ваше мнение о нашей работе и узнать больше о вашем личном опыте в
  США. Посетите раздел Отзывы (clickable link) полностью скопировать существующий
  раздел Нас рекомендуют с сайта usbabytime.com с фотографиями и текстом. Post
  должен быть живой! чтобы оставить комментарии и узнать, что о нас пишут.
  Группа компаний, в которую входит компания US BABY TIME активно вовлечена
  в благотворительную деятельность и является членом сообществ, которые
  безвозмездно помогают людям. Поддержите наши партнерские благотворительные
  организации: http://www.cjfoundation.net/(clickable link), http://jdchfoundation.org/.
</p>