<h1 class="handwritten underlined font-large">Let us help you to begin a new life…</h1>
<p>
  <span>Dara’s Garden offers serenity after months of planning, so you can relax</span>
  and enjoy these moments. Every detail of your
  <a href="http://darasgarden.com/weddings/">wedding</a>
  or <a href="http://darasgarden.com/events/">special event</a> is planned to perfection, so your event sets the
  standard for all others to come.
</p>

<h3>Celebrate your special day in one of our gardens.</h3>
<ul>
  <li>Weddings</li>
  <li>Receptions</li>
  <li>Rehearsal dinners</li>
  <li>Dinner parties</li>
  <li>Cocktail parties</li>
</ul>
<ul>
  <li>Holiday parties</li>
  <li>Seminars</li>
  <li>Business meetings</li>
  <li>Galas</li>
  <li>School picnics</li>
</ul>
<ul>
  <li>Anniversary parties</li>
  <li>Showers</li>
  <li>Church socials</li>
  <li>Tour groups</li>
  <li>Social gatherings</li>
</ul>

<div class="clear left">
  <h3>Share <em>your</em> story.</h3>
  <p>We would love to hear about the succcess of your event or wedding. <a href="http://darasgarden.com/contact/">Contact us</a> with your memories and photos, or visit <a href="http://darasgarden.com/testimonials/">our testimonials</a> page to read about our events.</p>
</div><!--left-->

<div class="right">
  <h3>At your service.</h3>
  <p>Our staff has unmatched experience. We are exclusively catered by <a href="http://www.rothchildcatering.com/">Rothchild Catering</a> who has the knowledge and expertise to handle the most detailed meal requests.</p>
</div><!--right-->
