<h1 class="underlined font-large">Уважаемые Клиенты!</h1>
<div style="text-align: justify;">
  <div>
    <div style="float: left; width: 200px; margin: 100px 10px 10px 10px;">
      <h1 class="handwritten">Наши цены вас приятно удивят!</h1>
    </div>
    <div><%= image_tag('natalia_price_page.jpg', :height => 300)  %></div>
  </div>
  <p>
    Наши условия работы с Клиентами <span style="font-size: 1.5em;">позволяют
  оптимизировать значительную часть накладных и представительских расходов.</span>
  </p>

  <p>
    US BABY TIME - одна из немногих компаний, которая <span style="font-size: 1.5em;">не включает в стоимость пакетов услуги врачей, госпиталей и другие
  дополнительные услуги.</span> Мы также <span style="font-size: 1.5em;">не требуем предоплаты</span> до вашего приезда
    в США. Мы <span style="font-size: 1.5em;">заранее и бесплатно</span> проконсультируем
    Вас по всем вопросам, связанным с перелётом, прохождением паспортного контроля и окажем содействие в других вопросах
    планирования Вашей поездки.
  </p>

  <p>
    Основным принципом нашей компании является
    <span style="font-size: 1.5em;">открытость, построение доверительных и долгосрочных деловых отношений,</span> именно
    поэтому постоянным Клиентам мы предлагаем <span style="font-size: 1.5em;">гибкую систему скидок!</span>
  </p>

  <p>
    Более подробную информацию о наших ценах вы можете узнать, здесь:
  </p>
  <ul style="text-align: left;">
    <li>
      <%= link_to 'Предлагаемые пакеты услуг', '/service_package.pdf' %>
    </li>
    <li>
      <%= link_to 'Оформление документов', '/paperwork.pdf' %>
    </li>
  </ul>
  <p>
    US BABY TIME - это всегда профессиональный подход к каждому Клиенту по доступной
    <span style="font-size: 1.5em;">цене!!!</span> Здесь найдутся решения для
    <span style="font-size: 1.5em;">любого бюджета.</span>
  </p></div>