<h1>Сопровождение беременности и родов</h1>

<p>
  Запись к медицинскому специалисту, подбор госпиталя и регистрация в
  медицинских учреждениях, получение документов на ребенка, как и любая
  другая бюрократическая процедура, часто вызывает неприятные ассоциации у наших
  клиентов с очередями, многократными походами, волнительными собеседованиями со
  специалистами и персоналом, особенно за рубежом, где без помощи профессионалов
  иногда бывает довольно сложно преодолеть языковой барьер.
</p>

<p>
  Компания US BABY TIME стремится существенным образом упростить все формальные
  процессы и процедуры для своих клиентов. Наши сотрудники – это профессионалы,
  которые свободно владеют несколькими языками. Мы позаботимся о Ваших личных
  потребностях и их исполнении, а вы сможете сконцентрироваться на самом главном -
  рождении ребенка! Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы
  больше узнать о нашей компании.
</p>
<p>
  Мы предлагаем вам следующие услуги, и если Вас интересует какой-либо другой
  вопрос – вы всегда можете обратиться к нам 24/7 Контакты ссылка:
</p>

<ul style="width: 100%;">
  <li>Сопровождение на регулярные приемы к врачу-гинекологу (обследование,
    консультации, наблюдение)
  </li>

  <li>Сопровождение на регулярные приемы к врачу-педиатру (наблюдение)</li>

  <li>Сопровождение на роды и помощь при выписке из госпиталя</li>

  <li>Оформление документов США и России</li>

  <li>Подбор госпиталя (ознакомительные туры по госпиталю, оформление
    необходимых документов между Заказчиком и госпиталем)
  </li>

  <li>
    Выбор врача-гинеколога и врача-педиатра (оформление необходимых
    документов)
  </li>

  <li>Сопутствующие услуги</li>

  <li>Услуги няни и гувернантки</li>

  <li>Крещение вашего ребенка</li>

  <li>Лечение родителей в лучших клиниках сша</li>
</ul>
<h1>С чего начать/Getting started</h1>
<p>
  Свяжитесь с нами. US BABY TIME - компания для обеспечения качества Вашей жизни
  во Флориде. Помимо выбора сервиса в соответствии с Вашими потребностями (Вы
  можете осуществить вашу идею родов в Майами самостоятельно (без посредников), а в
  случае возникновения каких-либо трудностей или вопросов, обратиться к нам на любой
  стадии Вашего пребывания), мы предлагаем услуги персонального ассистента не только
  по организации с сопровождению родов в Майами, но и по управлению и разрешению
  любых Ваших назревших вопросов в списке «Дел на сегодня». Срочных и важных.
  Ежедневно. Ваш персональный ассистент будет Вашим доверенным лицом и поможет
  Вам выиграть время еще до рождения ребенка, организовать все медицинские приемы и
  формальности, связанные с родами и после рождения ребенка, а вы сможете посвятить его
  себе, своей семье и здоровью. Мы будем рады стать Вашим надежным партнером.
</p>
<h1>Почему мы/Testimonials</h1>
<p>
  В бизнес-группу входят компании US BABY TIME(http://usbabytime.com - clickable

  link), Credit Services of America(http://www.creditservicesamerica.com - clickable link)

  , American EB-5 Centers(http://americaneb5centers.com -clickable link), Data Business

  Systems(в разработке - clickable link) и многие другие.

  Посетите раздел Почему мы (clickable link) смотри документ Почему мы чтобы

  получить больше информации о наших сотрудниках.
</p>
<p>Мы сотрудничаем только с лучшими докторами Майами и всегда предоставляем нашим

  клиентам возможность самостоятельно выбрать врача (clickable link) Смотри ссылку

  в этом разделе - Выбор врача-гинеколога и врача-педиатра (оформление необходимых

  документов).
</p>
<p>
  Нужно показать официальный Сертификат от Women to Women OB GYN Care о дружбе и

  партнерстве с компанией US BABY TIME.

  Мы сотрудничаем только с госпиталями, имеет безупречную репутацию по качеству

  обслуживания (clickable link). Смотри ссылку в этом разделе - Подбор госпиталя

  (ознакомительные туры по госпиталю, оформление необходимых документов между

  Заказчиком и госпиталем))
</p>
<p>
  При обращении в нашу компанию, мы готовы предоставить Вам полную, интересующую

  Вас информацию, ответить на любые Ваши вопросы, рассказать подробно обо всех этапах

  нашего с Вами сотрудничества.
</p>
<h1>Нас рекомендуют</h1>

<p>Мы хотим узнать Ваше мнение о нашей работе и узнать больше о вашем личном опыте в

  США. Посетите раздел Отзывы (clickable link) полностью скопировать существующий

  раздел Нас рекомендуют с сайта usbabytime.com с фотографиями и текстом. Post

  должен быть живой! чтобы оставить комментарии и узнать, что о нас пишут.

  Группа компаний, в которую входит компания US BABY TIME активно вовлечена

  в благотворительную деятельность и является членом сообществ, которые

  безвозмездно помогают людям. Поддержите наши партнерские благотворительные

  организации: http://www.cjfoundation.net/(clickable link), http://jdchfoundation.org/

</p>

<p>
  Во Флориде врачи обладают потрясающим чувством юмора, на работе и вне офиса их

  всегда можно встретить только с улыбкой и в хорошем настроении!

  Мы хотим сделать так, чтобы в Вашей жизни период беременности стал особенно

  приятным и спокойным, без лишней суеты, очередей и тревог. Специалисты компании

  US BABY TIME разделят и поймут радости и заботы будущей мамы, а также обеспечат

  высокопрофессиональное и комфортное сопровождение всех ваших приемов ко врачу-

  гинекологу: трансферт, оформление, прием, проведение всех необходимых обследований

  при поступлении, предоставят при необходимости ассистента-переводчика на протяжении

  всего времени пребывания в медицинском учреждении, помогут осуществить оплату.

  Будущая мама в одном месте сдаст все анализы, пройдет диспансерный осмотр

  несколькими специалистами, здесь же она пройдет обязательное обследование и УЗИ-

  скрининг .
</p>
<p>Важно, что все обследования проводятся в удобное время, быстро и, самое главное,

  безопасно и безболезненно, так как во всех наших партнерских клиниках используются

  только самые современные технологии.

  Официальный Сертификат от Women to Women OB GYN Care о дружбе и партнерстве с компанией

  US BABY TIME.

</p>
<p>Согласно многочисленным наблюдениям наших сотрудников, в

  Майами беременность наступает быстрее,

  чем в остальных местах, и намного легче

  переносится. Малыши рождаются здоровыми

  и спокойными, а мамы быстрее

  восстанавливаются после родов. Именно поэтому у будещей маме во Флориде остается не

  так уж много времени и желания на все сопутствующие родам формальные процедуры.

  Снимите рутину формальностей со своих плеч и доверьтесь профессионалам компании

  US BABY TIME.
</p>
<p>Посетите раздел Выбор врача-гинеколога (clickable link) смотри раздел Выбор врача-гинеколога

  и врача-педиатра (оформление необходимых документов) в этом документе чтобы больше

  узнать о врачах.

</p>
• Сопровождение на регулярные приемы к врачу-педиатру (наблюдение).

Консультация педиатра может существенно сократить количество вопросов, которые

встают перед родителями. Американские специалисты четко знают в каком возрасте и что

может беспокоить ребенка, могут дать совет по уходу, вскармливанию и закаливанию. Но

все это возможно только в том случае, если Вы обратитесь к настоящему профессионалу!

Специалисты компании US BABY TIME окажут полное сопровождение на регулярные

приемы к врачу-педиатру: трансферт, оформление, прием, проведение всех необходимых

обследований при поступлении, предоставят при необходимости ассистента-переводчика

на протяжении всего времени пребывания в медицинском учреждении, помогут

осуществить оплату. Став нашим клиентом, Вам не придется тратить лишнее время на

поиск информации, думать обо всех важных формальностях, волноваться о возможных

дорогостоящих ошибках. Сэкономленное время, которое могло быть упущено, гораздо

лучше потратить на более приятные вещи, тем болеее в солнечной Флориде.

В наших партнерских клиниках Вы сможете получить грамотную консультацию

высококвалифицированного специалиста, который поможет решить ряд проблем,

связанных с питанием, уходом и здоровьем малыша.

Наш детский врач во Флориде - это настоящий профессионал своего дела, он способен

найти правильный подход не только к каждому маленькому пациенту, но и к его

родителям. Обратившись к хорошему врачу, Вы поймете что это не преувеличение.

Консультация педиатра профессионала принесет только положительные эмоции Вам и

Вашему малышу. Вы получите ответы на интересующие Вас вопросы и устраните все

проблемы совместно с врачом в сопровождении нашего специалиста.

Посетите раздел Выбор врача-педиатра (clickable link) смотри раздел Выбор врача-гинеколога и

врача-педиатра (оформление необходимых документов) в этом документе чтобы больше узнать

о врачах.

• Сопровождение на роды и помощь при выписке из госпиталя

Встречайте самое главное событие в жизни вашей семьи под солнцем солнечного штата

Флорида вместе с вашей семьей. Все формальности и заботы оставьте специалистам

компании US BABY TIME.

Специалисты компании US BABY TIME окажут сопровождение в госпиталь при родах:

трансферт на роды, оформление поступления в госпиталь, проведение всех необходимых

обследований при поступлении, предоставят при необходимости ассистента-переводчика

на протяжении всего времени пребывания в медицинском учреждении.

При нахождении в госпитале будущей маме будет оказано полное комплексное

обслуживание в зависимости от ее состояния: эпидуральная анестезия, снятие симптомов

боли после родов, предоставится одноместная палата на два дня при естественных родах

и на три дня при кесаревом сечении, в дополнение к этому индивидуальное питание,

телевидение, интернет и возможность пользования детской комнатой.

Наши специалитсы окажут вам сопровождение при выписке из госпиталя посл родов:

трансферт домой, оформление документов при выписке из госпиталя, в том числе

получение всех квитанций об оплате, предоставят при необходимости ассистента-

переводчика при выписке из госпиталя.

Посетите раздел Подбор госпиталя (clickable link) смотри раздел Подбор госпиталя

(ознакомительные туры по госпиталю, оформление необходимых документов между Заказчиком

и госпиталем) в этом документе чтобы больше узнать о госпиталях.

• Оформление документов США и России.

Получение вашим ребенком Американского гражданства по факту рождения на

территории США – это залог будущего ребенка.

Специалисты компании US BABY TIME помогут Вам оформить и Американские

и Российские документы для новорожденного ребенка. Воспользовавшись нашими

услугами Вы значительно сэкономите Ваше время и деньги на полет в консульство

РФ в Вашингтоне. Мы не только поможем оформить все документы, но и сделаем это

в самые кратчайшие сроки. Все документы оформляются в рамках существующего

законодательства и с соблюдением всех необходимых требований.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

Документы.

Ваш ребенок, рождённый в США, будет иметь два гражданства: по рождению –

гражданство США (14-ая поправка к Конституции США) и по родителям -гражданство

РФ, если хотя бы один из родителей гражданин РФ.

Документы США:

Четырнадцатая поправка к Конституции США гарантирует гражданство США,

рожденным или натурализованным лицам:

Amendment XIV, Section 1, Clause 1: «Аll persons born or naturalized in the United

States, and subject to the jurisdiction thereof, are citizens of the United States and of the

State wherein they reside».

«Любой, кто родился на территории США, является гражданином США».

1. Birth certificate

Получение Свидетельства о рождении США (Birth Certificate).

2. Social Security Number

Подача и получение документа Social Security Number (SSN) в социальной

федеральной службе, который выдаётся каждому гражданину страны.

3. US Passport

Подготовка и подача документов на паспорт США (срочное получение паспорта

США). Если вас интересует вопрос, как получив гражданство в США,

остаться дальше в стране, обратитесь за более детальной информацией к

нашим специалистам. (clickable link) смотри документ Инвестиционные и

иммиграционные услуги

Документы РФ:

Ребёнок, родившийся в США, становится гражданином Российской Федерации,

если его родители, или хотя бы один из родителей, являются гражданами России.

Ст. 12 ФЗ-62 от 31.05.02, приобретение гражданства Российской Федерации по

рождению.

1. Свидетельство о рождении США, переведенное и заверенное апостилем (штамп о

гражданстве РФ).

2. Паспорт РФ.

Подготовка и подача документов на паспорт РФ. (Вписывание в заграничный

паспорт или получение отдельно паспорта РФ.)

Если вас интересует вопрос, как получив гражданство РФ для ребенка,

остаться в США дальше, обратитесь за более детальной информацией к

нашим специалистам. (clickable link)смотри документ Инвестиционные и

иммиграционные услуги

Подробные услуги, оказываемые компанией US BABY TIME по получению документов:

ссылка

Ссылка на отдельную страничку внутри данного раздела

Услуги, оказываемые компанией US BABY TIME по получению документов:

- подтверждение с Посольством РФ правильность написания имен (т.к. правила

транскрипции меняются);

- консультирование клиента и помощь в заполнении формы SSN и получении SSN

(номера социального страхования). SSN присылается государственными органами по

месту проживания клиента или сотрудника компании (по желанию);

- консультирование клиента и помощь в заполнении формы на получении американского

свидетельства о рождении в госпитале. Сопровождение клиента в Департамент

Здравоохранения для получения US свидетельства о рождении;

- получение апостиля на Cert of Birth (свидетельство о рождении) и на другие

необходимые документы;

- перевод свидетельства о рождении и апостиля на русский или другой язык и

нотариальное заверение перевода;

- консультирование клиента и помощь в получении американского паспорта, в

стандартные сроки (4-6 недель);

- контроль изготовления и отправки государственными службами US паспорта в

необходимые сроки;

- по необходимости – консультирование и помощь в оформлении американского паспорта

в случае, когда Отец ребенка находится не на территории США и не может приехать;

- нотариальное заверение всех необходимых документов;

- консультирование клиента и помощь в получении штампа о гражданстве на

американское свидетельство о рождении в Российском консульстве;

- вписании ребенка в паспорт родителя, в стандартные сроки (4-8 недель) (по желанию);

- помощь в получении РФ паспорта для ребенка (по желанию);

- помощь в получении справки из госпиталя для получения РФ свидетельства о рождении;

- консультирование клиента и помощь в получении Российского свидетельства о

рождении (по желанию).



** В случае, когда документы РФ для новорожденного оформляются без поездки,

работа выполняется в компетентных органах на территории РФ, с привлечением

профессиональных юристов.

Конец новой странички

Продолжение предыдущей страницы

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

• Подбор госпиталя (ознакомительные туры по госпиталю, оформление

необходимых документов между Заказчиком и госпиталем);

Высококвалифицированные врачи и новейшие достижения американской медицины -

залог успешных родов и здоровья Вашего будущего ребенка.

Мы можем рекомендовать Вам, исходя из ваших пожеланий и нашего опыта, где лучше

провести предродовой период и роды, но в конечном итоге – выбор конечно за вами.

Ниже представлены лучшие госпитали Майами с информацией о ценах,

месторасположении и отзывами наших Клиентов.

Многие клиники Флориды оборудованы современным медицинским

оборудованием, предлагают комфортабельные

родильные комнаты с телевизором,

видео и WI-FI, а также разнообразное

меню для будущих мам.

Компания US BABY TIME располагает необходимой информацией о родильных центрах

и родильных отделениях в госпиталях Флориды. Познакомьтесь с основными из них:

Наши рекомендации: госпитали в Майами (Необходимо раздел заполнить как

раздел Госпитали на сайте usbabytime.com с фотографиями и текстом!!)

Memorial Regional Hospital (clickable link) При нажатии на каждую ссылку

должно быть тоже самое, что на сайте usbabytime.com в разделе госитали)

http://usbabytime.com/?page_id=711 (clickable link) далее все как на сайте

usbabytime.com

Broward General Medical Center (clickable link)

http://usbabytime.com/?page_id=712

Mount Sinai Medical Center (clickable link) далее все как на сайте usbabytime.com

http://usbabytime.com/?page_id=713 (clickable link) далее все как на сайте

usbabytime.com

Это далеко не полный список госпиталей.

По приезду в США, компания US BABY TIME организует по вашему желанию туры

по госпиталям. Наш сотрудник подскажет все преимущества того или иного госпиталя,

заключит от Вашего имени договор на оказание врачебных услуг по рождению ребенка.

В Америке при госпиталях существуют различные курсы подготовки будущих

родителей. Почти каждый из них предлагает курсы еженедельно. Занятие в основном

идут по лактации, подготовке к родам, безопасности малыша, будущему воспитанию

ребенка. Представители компании US BABY TIME запишет вас на курсы предлагаемые

госпиталем по вашему желанию, организует трансфер и при необходимости

сопровождение и переводчика.

• Выбор врача-гинеколога и врача-педиатра (оформление необходимых

документов).

Мы сотрудничаем только с ведущими многоязычными гинекологами и педитрами

Флориды, высокий уровень квалификации которых подтвержден не только лицензией,

но и долгими годами эффективной работы. Вам предстоит сделать выбор врача из

специалистов, успешно принявших роды у знаменитостей и звезд с мировым именем. Мы

рекомендуем Вам лучших существующих специалистов, а Вам остается сделать выбор!

Наши рекомендации: генекологи в Майами (clickable link) (Необходимо раздел

заполнить как раздел Госпитали на сайте usbabytime.com с фотографиями и

текстом!!)

Уэйн ДиДжакомо

Врач высшей категории, Профессор кафедр Гинекологии и Акушерства Barry University и Nova

University. Доктор Wayne DiGiacomo, входит в число лучших акушеров-гинекологов Флориды с

более чем 30-летним опытом работы.

Далее … (clickable link) далее все с фотографиями и текстом как на сайте

usbabytime.com

Светлана Масляк

Светлана Масляк – профессионал своего дела, акушер-гинеколог, доктор медицины, член

Американского Совета по вопросам акушерства и гинекологии.

В 1987 году Светлана закончила Ивано-Франковскую Медицинскую Академию .

В 2005 году доктор Масляк окончила Университет медицины и стоматологи в Нью- Джерси

со специализацией Акушерство и гинекология

Далее …(clickable link) далее все с фотографиями и текстом как на сайте usbabytime.com

Семен Цинкер

Розлин Бонилла

Илеана Перес

Матар Набил

и другие доктора и их описание, которое нужно взять, чтобы я не дублировал, со

страницы http://usbabytime.com/?page_id=754

Официальный Сертификат от Women to Women OB GYN Care о дружбе и партнерстве с компанией US BABY

TIME. СЕРТИФИКАТ В ПРИЛОЖЕНИИ!!!!

Наши рекомендации: педиатры в Майами (clickable link) (Необходимо раздел заполнить

как раздел Госпитали на сайте usbabytime.com с фотографиями и текстом!!)

Марат Зельцман

Марат Зельцман – почетный член Американской Ассоциации Педиатров. В течение многих лет он

получает награды как лучший педиатр.

2002 – закончил Nova Southeastern University College Of Osteopathic Medicine, Fort Lauderdale, Florida,

United States

2002 – работает в Plantation General Hospital, Broward General Hospital. Открывает частную практику.

C 2011 – работает в AventuraMedical Center

Далее … (clickable link) далее все с фотографиями и текстом как на сайте usbabytime.com

Наши педиатрические Партнеры (Pediatric Associates) — одна из самых старых и наиболее

уважаемых педиатрических групп в Соединенных Штатах. Основанные в 1955, Pediatric

Associates открыли свой первый офис в городе Голливуд, штат Флорида.

Pediatric Associates предоставляет свои услуги для детей всех возрастов: от

новорожденных до подростков. Сертифицированные в США педиатры группы Pediatric

Associates числятся в штате большинства главных госпиталей Майами. Миссия Pediatric

Associates состоит в том, чтобы предоставить самые лучшие и самые современные

медицинские услуги для детей.

Вы можете воспользоваться нашими рекомендациями, либо поделиться своими

идеями на нашем форуме Facebook (clickable link). Входим в раздел нас

рекомендуют на сайте usbabytime.com + ссылка на форум Facebook

Все новые предложения нами ценятся и принимаются во внимание.

• Услуги няни и гувернантки

Современный темп жизни диктует нам, молодым родителям, свои условия. И если

еще десять-пятнадцать лет назад такая роскошь, как услуги няни для ребенка была

доступна, лишь крайне обеспеченным людям, сейчас подобные услуги стали жизненной

необходимостью. Компания US BABY TIME предлагает:

ß Услуги няни для грудничка;

ß Няня (воспитатель) для ребенка дошкольного возраста;

ß Няня для ребенка школьного возраста;

ß Гувернера;

В обязанности няни входит:

ß Соблюдение режима;

ß Уход и кормление ребенка;

ß Прогулки;

ß Физическое развитие;

ß Поддержание порядка в детской комнате;

ß Содержание в порядке детских вещей;

ß Развитие по возрасту

Няни могут работать по следующим режимам:

ß на полный рабочий день;

ß неполный рабочий день;

ß несколько раз в неделю;

ß несколько часов для прогулок, сопровождения ребёнка в школы, секции и т.п.

ß ночной график работы;

ß с проживанием в Вашем доме

Наши няни и гувернеры имеют высшее или среднее педагогическое образование,

опыт работы с детьми в гос. учреждениях или семьях, положительные рекомендации с

прошлых мест работы, хороший культурный уровень, владеют несколькими языками.

Менеджеры компании US BABY TIME c удовольствием ответят на все Ваши вопросы и

подберут ту няню, которая будет лучшим другом для Вас и Вашего ребенка.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

• Крещение вашего ребенка.

Компания US BABY TIME оказывает сопровождение и помощь в крещении ребенка по

канонам вашей конфессии (Православие, Католицизм, Иудаизм, Мусульманство).

Главное - это выбрать подходящую церковь (костел, мечеть, синагогу) и спланировать

все заранее. Обряд может быть проведен в любой день, но у каждого храма есть свой

распорядок и свои правила, поэтому наши представители возьмут все организационные

вопросы на себя. Также возможна услуга фотосъемки в храме и на территории храма с

нашим профессиональным фотографом Еленой Кухаревой.(clickable link) открываетя

документ Организационные услуги, раздел Профессиональный фотограф.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

• Лечение родителей в лучших клиниках сша;

Компания US BABY TIME организует продуманные до мелочей консультации с

Американскими докторами и лечение в лучших клиниках США. При необходимости,

еще до вашего приезда, мы проконсультируем ваши документы со специалистом, и

подготовим вам программу лечения/обследования.

Флорида – это не просто отдых за рубежом, но и получение высококвалифицированных

медицинских услуг на самом высоком уровне.

Мы профессионально занимаемся организацией визитов к специалистам в области как

общей медицины, так и узкоспециализированных направлений: косметическая хирургия,

пластическая хирургия и эстетическая стоматология. Каждый визит индивидуален,

продуман до мелочей и выгодно отличается своей гибкостью к запросам клиента.

Каждый год сотни клиентов со всего мира приезжают к нам. Среди них преуспевающие

бизнесмены и их жены, публичные знаменитости и звезды шоу-бизнеса. Все они

получают высококлассное обслуживание и необходимую медицинскую помощь в лучших

клиниках Флориды.

Длительное сотрудничество с ведущими специалистами и медицинскими центрами

США позволяет нам предоставлять разумные и сдержанные цены при огромном спектре

предлагаемых услуг.

Мы сотрудничаем только с лучшими госпиталями и клиниками в Майами, Флорида:

ссылка

Ссылки на отдельную страничку внутри данного раздела

Список рекомендуемых госпиталей:

• Broward General Medical Center

На сегодняшний день один из самых современных госпиталей Майами и Южной

Флориды.

• Mount Sinai Medical Center

Этот госпиталь занимает ведущее место в списке «America’s Best Hospitals» (Лучшие

госпитали Америки) за 2011 – 2012 г.

• Memorial Regional Hospital

Один из крупнейших госпиталей на территории штата Флорида, был основан в 1953 году

и на сегодняшний день является лидирующим госпиталем в составе Memorial Healthcare

System.

• Plantation General Hospital

Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals»

(Лучшие госпиталя Америки), а палаты специально оборудованы так, что излучают

домашнее тепло и уют.

• South Miami Hospital

Госпиталь имеет безупречную репутацию по качеству обслуживания пациентов и входит

в верхние строчки «Tоп-100? лучших госпиталей в США.

• Jackson Memorial Hospital

Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals»

(Лучшие госпиталя Америки).

Это далеко не полный список медицинских учреждений.

Конец новой странички

Продолжение предыдущей страницы



Мы прекрасно понимаем, что нахождение за границей – это дополнительная

психологическая и эмоциональная нагрузка. Мы готовы взять на себя все

организационные хлопоты, связанные с пребыванием в медицинском учреждении, что бы

Вы чувствовали себя в окружении комфорта и абсолютной безопасности.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компанииII Раздел: Сопровождение беременности и родов

US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде

(надпись в основном фото блоке)

Сопровождение беременности и родов

Запись к медицинскому специалисту, подбор госпиталя и регистрация в

медицинских учреждениях, получение документов на ребенка, как и любая

другая бюрократическая процедура, часто вызывает неприятные ассоциации у наших

клиентов с очередями, многократными походами, волнительными собеседованиями со

специалистами и персоналом, особенно за рубежом, где без помощи профессионалов

иногда бывает довольно сложно преодолеть языковой барьер.

Компания US BABY TIME стремится существенным образом упростить все формальные

процессы и процедуры для своих клиентов. Наши сотрудники – это профессионалы,

которые свободно владеют несколькими языками. Мы позаботимся о Ваших личных

потребностях и их исполнении, а вы сможете сконцентрироваться на самом главном -

рождении ребенка! Посетите раздел О нас (clickable link)смотри документ О нас чтобы

больше узнать о нашей компании.

Справа на уровне названия Организационные услуги необходимо добавить как на

главной странице Спланируйте свой визит (на всех страницах в правом уголу

одинаковое поле)

Мы предлагаем вам следующие услуги, и если Вас интересует какой-либо другой

вопрос – вы всегда можете обратиться к нам 24/7 Контакты ссылка:

***** Ссылки

****ССЫЛКИ ПО КАЖДОМУ ИЗ РАЗДЕЛОВ УСЛУГ НАХОДЯТСЯ НИЖЕ (ВЫДЕЛЕНЫ **** и

ЖЕЛТЫМ ЦВЕТОМ)

• Сопровождение на регулярные приемы к врачу-гинекологу (обследование,

консультации, наблюдение)

• Сопровождение на регулярные приемы к врачу-педиатру (наблюдение)

• Сопровождение на роды и помощь при выписке из госпиталя

• Оформление документов США и России

• Подбор госпиталя (ознакомительные туры по госпиталю, оформление

необходимых документов между Заказчиком и госпиталем)

• Выбор врача-гинеколога и врача-педиатра (оформление необходимых

документов)

• Сопутствующие услуги

• Услуги няни и гувернантки

• Крещение вашего ребенка

• Лечение родителей в лучших клиниках сша

С чего начать/Getting started

Свяжитесь с нами. US BABY TIME - компания для обеспечения качества Вашей жизни

во Флориде. Помимо выбора сервиса в соответствии с Вашими потребностями (Вы

можете осуществить вашу идею родов в Майами самостоятельно (без посредников), а в

случае возникновения каких-либо трудностей или вопросов, обратиться к нам на любой

стадии Вашего пребывания), мы предлагаем услуги персонального ассистента не только

по организации с сопровождению родов в Майами, но и по управлению и разрешению

любых Ваших назревших вопросов в списке «Дел на сегодня». Срочных и важных.

Ежедневно. Ваш персональный ассистент будет Вашим доверенным лицом и поможет

Вам выиграть время еще до рождения ребенка, организовать все медицинские приемы и

формальности, связанные с родами и после рождения ребенка, а вы сможете посвятить его

себе, своей семье и здоровью. Мы будем рады стать Вашим надежным партнером.

Почему мы/Testimonials

В бизнес-группу входят компании US BABY TIME(http://usbabytime.com - clickable

link), Credit Services of America(http://www.creditservicesamerica.com - clickable link)

, American EB-5 Centers(http://americaneb5centers.com -clickable link), Data Business

Systems(в разработке - clickable link) и многие другие.

Посетите раздел Почему мы (clickable link) смотри документ Почему мы чтобы

получить больше информации о наших сотрудниках.

Мы сотрудничаем только с лучшими докторами Майами и всегда предоставляем нашим

клиентам возможность самостоятельно выбрать врача (clickable link) Смотри ссылку

в этом разделе - Выбор врача-гинеколога и врача-педиатра (оформление необходимых

документов).

Нужно показать официальный Сертификат от Women to Women OB GYN Care о дружбе и

партнерстве с компанией US BABY TIME.

Мы сотрудничаем только с госпиталями, имеет безупречную репутацию по качеству

обслуживания (clickable link). Смотри ссылку в этом разделе - Подбор госпиталя

(ознакомительные туры по госпиталю, оформление необходимых документов между

Заказчиком и госпиталем))

При обращении в нашу компанию, мы готовы предоставить Вам полную, интересующую

Вас информацию, ответить на любые Ваши вопросы, рассказать подробно обо всех этапах

нашего с Вами сотрудничества.

Нас рекомендуют

Мы хотим узнать Ваше мнение о нашей работе и узнать больше о вашем личном опыте в

США. Посетите раздел Отзывы (clickable link) полностью скопировать существующий

раздел Нас рекомендуют с сайта usbabytime.com с фотографиями и текстом. Post

должен быть живой! чтобы оставить комментарии и узнать, что о нас пишут.

Группа компаний, в которую входит компания US BABY TIME активно вовлечена

в благотворительную деятельность и является членом сообществ, которые

безвозмездно помогают людям. Поддержите наши партнерские благотворительные

организации: http://www.cjfoundation.net/(clickable link), http://jdchfoundation.org/

(clickable link)

Наших вышеперечисленных партнеров (лого) как на сайте http://

americaneb5centers.com можно добавить справой стороны под блоком Спланируйте

свой визит. .также можно написать как на сайте http://americaneb5centers.com –

поддержи благотворительные организации наших партнеров

Наш логотип необходимо FLORIDA

поставить как на сайте! Слева логотип 2455 E Sunrise

Blvd

US BABY TIME Suite 906

****Ссылки, соответствующие каждому разделу по услугам

• Сопровождение на регулярные приемы к врачу-гинекологу (обследование,

консультации, наблюдение).

Во Флориде врачи обладают потрясающим чувством юмора, на работе и вне офиса их

всегда можно встретить только с улыбкой и в хорошем настроении!

Мы хотим сделать так, чтобы в Вашей жизни период беременности стал особенно

приятным и спокойным, без лишней суеты, очередей и тревог. Специалисты компании

US BABY TIME разделят и поймут радости и заботы будущей мамы, а также обеспечат

высокопрофессиональное и комфортное сопровождение всех ваших приемов ко врачу-

гинекологу: трансферт, оформление, прием, проведение всех необходимых обследований

при поступлении, предоставят при необходимости ассистента-переводчика на протяжении

всего времени пребывания в медицинском учреждении, помогут осуществить оплату.

Будущая мама в одном месте сдаст все анализы, пройдет диспансерный осмотр

несколькими специалистами, здесь же она пройдет обязательное обследование и УЗИ-

скрининг .

Важно, что все обследования проводятся в удобное время, быстро и, самое главное,

безопасно и безболезненно, так как во всех наших партнерских клиниках используются

только самые современные технологии.

Официальный Сертификат от Women to Women OB GYN Care о дружбе и партнерстве с компанией

US BABY TIME.

Согласно многочисленным наблюдениям наших сотрудников, в

Майами беременность наступает быстрее,

чем в остальных местах, и намного легче

переносится. Малыши рождаются здоровыми

и спокойными, а мамы быстрее

восстанавливаются после родов. Именно поэтому у будещей маме во Флориде остается не

так уж много времени и желания на все сопутствующие родам формальные процедуры.

Снимите рутину формальностей со своих плеч и доверьтесь профессионалам компании

US BABY TIME.

Посетите раздел Выбор врача-гинеколога (clickable link) смотри раздел Выбор врача-гинеколога

и врача-педиатра (оформление необходимых документов) в этом документе чтобы больше

узнать о врачах.

• Сопровождение на регулярные приемы к врачу-педиатру (наблюдение).

Консультация педиатра может существенно сократить количество вопросов, которые

встают перед родителями. Американские специалисты четко знают в каком возрасте и что

может беспокоить ребенка, могут дать совет по уходу, вскармливанию и закаливанию. Но

все это возможно только в том случае, если Вы обратитесь к настоящему профессионалу!

Специалисты компании US BABY TIME окажут полное сопровождение на регулярные

приемы к врачу-педиатру: трансферт, оформление, прием, проведение всех необходимых

обследований при поступлении, предоставят при необходимости ассистента-переводчика

на протяжении всего времени пребывания в медицинском учреждении, помогут

осуществить оплату. Став нашим клиентом, Вам не придется тратить лишнее время на

поиск информации, думать обо всех важных формальностях, волноваться о возможных

дорогостоящих ошибках. Сэкономленное время, которое могло быть упущено, гораздо

лучше потратить на более приятные вещи, тем болеее в солнечной Флориде.

В наших партнерских клиниках Вы сможете получить грамотную консультацию

высококвалифицированного специалиста, который поможет решить ряд проблем,

связанных с питанием, уходом и здоровьем малыша.

Наш детский врач во Флориде - это настоящий профессионал своего дела, он способен

найти правильный подход не только к каждому маленькому пациенту, но и к его

родителям. Обратившись к хорошему врачу, Вы поймете что это не преувеличение.

Консультация педиатра профессионала принесет только положительные эмоции Вам и

Вашему малышу. Вы получите ответы на интересующие Вас вопросы и устраните все

проблемы совместно с врачом в сопровождении нашего специалиста.

Посетите раздел Выбор врача-педиатра (clickable link) смотри раздел Выбор врача-гинеколога и

врача-педиатра (оформление необходимых документов) в этом документе чтобы больше узнать

о врачах.

• Сопровождение на роды и помощь при выписке из госпиталя

Встречайте самое главное событие в жизни вашей семьи под солнцем солнечного штата

Флорида вместе с вашей семьей. Все формальности и заботы оставьте специалистам

компании US BABY TIME.

Специалисты компании US BABY TIME окажут сопровождение в госпиталь при родах:

трансферт на роды, оформление поступления в госпиталь, проведение всех необходимых

обследований при поступлении, предоставят при необходимости ассистента-переводчика

на протяжении всего времени пребывания в медицинском учреждении.

При нахождении в госпитале будущей маме будет оказано полное комплексное

обслуживание в зависимости от ее состояния: эпидуральная анестезия, снятие симптомов

боли после родов, предоставится одноместная палата на два дня при естественных родах

и на три дня при кесаревом сечении, в дополнение к этому индивидуальное питание,

телевидение, интернет и возможность пользования детской комнатой.

Наши специалитсы окажут вам сопровождение при выписке из госпиталя посл родов:

трансферт домой, оформление документов при выписке из госпиталя, в том числе

получение всех квитанций об оплате, предоставят при необходимости ассистента-

переводчика при выписке из госпиталя.

Посетите раздел Подбор госпиталя (clickable link) смотри раздел Подбор госпиталя

(ознакомительные туры по госпиталю, оформление необходимых документов между Заказчиком

и госпиталем) в этом документе чтобы больше узнать о госпиталях.

• Оформление документов США и России.

Получение вашим ребенком Американского гражданства по факту рождения на

территории США – это залог будущего ребенка.

Специалисты компании US BABY TIME помогут Вам оформить и Американские

и Российские документы для новорожденного ребенка. Воспользовавшись нашими

услугами Вы значительно сэкономите Ваше время и деньги на полет в консульство

РФ в Вашингтоне. Мы не только поможем оформить все документы, но и сделаем это

в самые кратчайшие сроки. Все документы оформляются в рамках существующего

законодательства и с соблюдением всех необходимых требований.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

Документы.

Ваш ребенок, рождённый в США, будет иметь два гражданства: по рождению –

гражданство США (14-ая поправка к Конституции США) и по родителям -гражданство

РФ, если хотя бы один из родителей гражданин РФ.

Документы США:

Четырнадцатая поправка к Конституции США гарантирует гражданство США,

рожденным или натурализованным лицам:

Amendment XIV, Section 1, Clause 1: «Аll persons born or naturalized in the United

States, and subject to the jurisdiction thereof, are citizens of the United States and of the

State wherein they reside».

«Любой, кто родился на территории США, является гражданином США».

1. Birth certificate

Получение Свидетельства о рождении США (Birth Certificate).

2. Social Security Number

Подача и получение документа Social Security Number (SSN) в социальной

федеральной службе, который выдаётся каждому гражданину страны.

3. US Passport

Подготовка и подача документов на паспорт США (срочное получение паспорта

США). Если вас интересует вопрос, как получив гражданство в США,

остаться дальше в стране, обратитесь за более детальной информацией к

нашим специалистам. (clickable link) смотри документ Инвестиционные и

иммиграционные услуги

Документы РФ:

Ребёнок, родившийся в США, становится гражданином Российской Федерации,

если его родители, или хотя бы один из родителей, являются гражданами России.

Ст. 12 ФЗ-62 от 31.05.02, приобретение гражданства Российской Федерации по

рождению.

1. Свидетельство о рождении США, переведенное и заверенное апостилем (штамп о

гражданстве РФ).

2. Паспорт РФ.

Подготовка и подача документов на паспорт РФ. (Вписывание в заграничный

паспорт или получение отдельно паспорта РФ.)

Если вас интересует вопрос, как получив гражданство РФ для ребенка,

остаться в США дальше, обратитесь за более детальной информацией к

нашим специалистам. (clickable link)смотри документ Инвестиционные и

иммиграционные услуги

Подробные услуги, оказываемые компанией US BABY TIME по получению документов:

ссылка

Ссылка на отдельную страничку внутри данного раздела

Услуги, оказываемые компанией US BABY TIME по получению документов:

- подтверждение с Посольством РФ правильность написания имен (т.к. правила

транскрипции меняются);

- консультирование клиента и помощь в заполнении формы SSN и получении SSN

(номера социального страхования). SSN присылается государственными органами по

месту проживания клиента или сотрудника компании (по желанию);

- консультирование клиента и помощь в заполнении формы на получении американского

свидетельства о рождении в госпитале. Сопровождение клиента в Департамент

Здравоохранения для получения US свидетельства о рождении;

- получение апостиля на Cert of Birth (свидетельство о рождении) и на другие

необходимые документы;

- перевод свидетельства о рождении и апостиля на русский или другой язык и

нотариальное заверение перевода;

- консультирование клиента и помощь в получении американского паспорта, в

стандартные сроки (4-6 недель);

- контроль изготовления и отправки государственными службами US паспорта в

необходимые сроки;

- по необходимости – консультирование и помощь в оформлении американского паспорта

в случае, когда Отец ребенка находится не на территории США и не может приехать;

- нотариальное заверение всех необходимых документов;

- консультирование клиента и помощь в получении штампа о гражданстве на

американское свидетельство о рождении в Российском консульстве;

- вписании ребенка в паспорт родителя, в стандартные сроки (4-8 недель) (по желанию);

- помощь в получении РФ паспорта для ребенка (по желанию);

- помощь в получении справки из госпиталя для получения РФ свидетельства о рождении;

- консультирование клиента и помощь в получении Российского свидетельства о

рождении (по желанию).



** В случае, когда документы РФ для новорожденного оформляются без поездки,

работа выполняется в компетентных органах на территории РФ, с привлечением

профессиональных юристов.

Конец новой странички

Продолжение предыдущей страницы

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

• Подбор госпиталя (ознакомительные туры по госпиталю, оформление

необходимых документов между Заказчиком и госпиталем);

Высококвалифицированные врачи и новейшие достижения американской медицины -

залог успешных родов и здоровья Вашего будущего ребенка.

Мы можем рекомендовать Вам, исходя из ваших пожеланий и нашего опыта, где лучше

провести предродовой период и роды, но в конечном итоге – выбор конечно за вами.

Ниже представлены лучшие госпитали Майами с информацией о ценах,

месторасположении и отзывами наших Клиентов.

Многие клиники Флориды оборудованы современным медицинским

оборудованием, предлагают комфортабельные

родильные комнаты с телевизором,

видео и WI-FI, а также разнообразное

меню для будущих мам.

Компания US BABY TIME располагает необходимой информацией о родильных центрах

и родильных отделениях в госпиталях Флориды. Познакомьтесь с основными из них:

Наши рекомендации: госпитали в Майами (Необходимо раздел заполнить как

раздел Госпитали на сайте usbabytime.com с фотографиями и текстом!!)

Memorial Regional Hospital (clickable link) При нажатии на каждую ссылку

должно быть тоже самое, что на сайте usbabytime.com в разделе госитали)

http://usbabytime.com/?page_id=711 (clickable link) далее все как на сайте

usbabytime.com

Broward General Medical Center (clickable link)

http://usbabytime.com/?page_id=712

Mount Sinai Medical Center (clickable link) далее все как на сайте usbabytime.com

http://usbabytime.com/?page_id=713 (clickable link) далее все как на сайте

usbabytime.com

Это далеко не полный список госпиталей.

По приезду в США, компания US BABY TIME организует по вашему желанию туры

по госпиталям. Наш сотрудник подскажет все преимущества того или иного госпиталя,

заключит от Вашего имени договор на оказание врачебных услуг по рождению ребенка.

В Америке при госпиталях существуют различные курсы подготовки будущих

родителей. Почти каждый из них предлагает курсы еженедельно. Занятие в основном

идут по лактации, подготовке к родам, безопасности малыша, будущему воспитанию

ребенка. Представители компании US BABY TIME запишет вас на курсы предлагаемые

госпиталем по вашему желанию, организует трансфер и при необходимости

сопровождение и переводчика.

• Выбор врача-гинеколога и врача-педиатра (оформление необходимых

документов).

Мы сотрудничаем только с ведущими многоязычными гинекологами и педитрами

Флориды, высокий уровень квалификации которых подтвержден не только лицензией,

но и долгими годами эффективной работы. Вам предстоит сделать выбор врача из

специалистов, успешно принявших роды у знаменитостей и звезд с мировым именем. Мы

рекомендуем Вам лучших существующих специалистов, а Вам остается сделать выбор!

Наши рекомендации: генекологи в Майами (clickable link) (Необходимо раздел

заполнить как раздел Госпитали на сайте usbabytime.com с фотографиями и

текстом!!)

Уэйн ДиДжакомо

Врач высшей категории, Профессор кафедр Гинекологии и Акушерства Barry University и Nova

University. Доктор Wayne DiGiacomo, входит в число лучших акушеров-гинекологов Флориды с

более чем 30-летним опытом работы.

Далее … (clickable link) далее все с фотографиями и текстом как на сайте

usbabytime.com

Светлана Масляк

Светлана Масляк – профессионал своего дела, акушер-гинеколог, доктор медицины, член

Американского Совета по вопросам акушерства и гинекологии.

В 1987 году Светлана закончила Ивано-Франковскую Медицинскую Академию .

В 2005 году доктор Масляк окончила Университет медицины и стоматологи в Нью- Джерси

со специализацией Акушерство и гинекология

Далее …(clickable link) далее все с фотографиями и текстом как на сайте usbabytime.com

Семен Цинкер

Розлин Бонилла

Илеана Перес

Матар Набил

и другие доктора и их описание, которое нужно взять, чтобы я не дублировал, со

страницы http://usbabytime.com/?page_id=754

Официальный Сертификат от Women to Women OB GYN Care о дружбе и партнерстве с компанией US BABY

TIME. СЕРТИФИКАТ В ПРИЛОЖЕНИИ!!!!

Наши рекомендации: педиатры в Майами (clickable link) (Необходимо раздел заполнить

как раздел Госпитали на сайте usbabytime.com с фотографиями и текстом!!)

Марат Зельцман

Марат Зельцман – почетный член Американской Ассоциации Педиатров. В течение многих лет он

получает награды как лучший педиатр.

2002 – закончил Nova Southeastern University College Of Osteopathic Medicine, Fort Lauderdale, Florida,

United States

2002 – работает в Plantation General Hospital, Broward General Hospital. Открывает частную практику.

C 2011 – работает в AventuraMedical Center

Далее … (clickable link) далее все с фотографиями и текстом как на сайте usbabytime.com

Наши педиатрические Партнеры (Pediatric Associates) — одна из самых старых и наиболее

уважаемых педиатрических групп в Соединенных Штатах. Основанные в 1955, Pediatric

Associates открыли свой первый офис в городе Голливуд, штат Флорида.

Pediatric Associates предоставляет свои услуги для детей всех возрастов: от

новорожденных до подростков. Сертифицированные в США педиатры группы Pediatric

Associates числятся в штате большинства главных госпиталей Майами. Миссия Pediatric

Associates состоит в том, чтобы предоставить самые лучшие и самые современные

медицинские услуги для детей.

Вы можете воспользоваться нашими рекомендациями, либо поделиться своими

идеями на нашем форуме Facebook (clickable link). Входим в раздел нас

рекомендуют на сайте usbabytime.com + ссылка на форум Facebook

Все новые предложения нами ценятся и принимаются во внимание.

• Услуги няни и гувернантки

Современный темп жизни диктует нам, молодым родителям, свои условия. И если

еще десять-пятнадцать лет назад такая роскошь, как услуги няни для ребенка была

доступна, лишь крайне обеспеченным людям, сейчас подобные услуги стали жизненной

необходимостью. Компания US BABY TIME предлагает:

ß Услуги няни для грудничка;

ß Няня (воспитатель) для ребенка дошкольного возраста;

ß Няня для ребенка школьного возраста;

ß Гувернера;

В обязанности няни входит:

ß Соблюдение режима;

ß Уход и кормление ребенка;

ß Прогулки;

ß Физическое развитие;

ß Поддержание порядка в детской комнате;

ß Содержание в порядке детских вещей;

ß Развитие по возрасту

Няни могут работать по следующим режимам:

ß на полный рабочий день;

ß неполный рабочий день;

ß несколько раз в неделю;

ß несколько часов для прогулок, сопровождения ребёнка в школы, секции и т.п.

ß ночной график работы;

ß с проживанием в Вашем доме

Наши няни и гувернеры имеют высшее или среднее педагогическое образование,

опыт работы с детьми в гос. учреждениях или семьях, положительные рекомендации с

прошлых мест работы, хороший культурный уровень, владеют несколькими языками.

Менеджеры компании US BABY TIME c удовольствием ответят на все Ваши вопросы и

подберут ту няню, которая будет лучшим другом для Вас и Вашего ребенка.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

• Крещение вашего ребенка.

Компания US BABY TIME оказывает сопровождение и помощь в крещении ребенка по

канонам вашей конфессии (Православие, Католицизм, Иудаизм, Мусульманство).

Главное - это выбрать подходящую церковь (костел, мечеть, синагогу) и спланировать

все заранее. Обряд может быть проведен в любой день, но у каждого храма есть свой

распорядок и свои правила, поэтому наши представители возьмут все организационные

вопросы на себя. Также возможна услуга фотосъемки в храме и на территории храма с

нашим профессиональным фотографом Еленой Кухаревой.(clickable link) открываетя

документ Организационные услуги, раздел Профессиональный фотограф.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании

• Лечение родителей в лучших клиниках сша;

Компания US BABY TIME организует продуманные до мелочей консультации с

Американскими докторами и лечение в лучших клиниках США. При необходимости,

еще до вашего приезда, мы проконсультируем ваши документы со специалистом, и

подготовим вам программу лечения/обследования.

Флорида – это не просто отдых за рубежом, но и получение высококвалифицированных

медицинских услуг на самом высоком уровне.

Мы профессионально занимаемся организацией визитов к специалистам в области как

общей медицины, так и узкоспециализированных направлений: косметическая хирургия,

пластическая хирургия и эстетическая стоматология. Каждый визит индивидуален,

продуман до мелочей и выгодно отличается своей гибкостью к запросам клиента.

Каждый год сотни клиентов со всего мира приезжают к нам. Среди них преуспевающие

бизнесмены и их жены, публичные знаменитости и звезды шоу-бизнеса. Все они

получают высококлассное обслуживание и необходимую медицинскую помощь в лучших

клиниках Флориды.

Длительное сотрудничество с ведущими специалистами и медицинскими центрами

США позволяет нам предоставлять разумные и сдержанные цены при огромном спектре

предлагаемых услуг.

Мы сотрудничаем только с лучшими госпиталями и клиниками в Майами, Флорида:

ссылка

Ссылки на отдельную страничку внутри данного раздела

Список рекомендуемых госпиталей:

• Broward General Medical Center

На сегодняшний день один из самых современных госпиталей Майами и Южной

Флориды.

• Mount Sinai Medical Center

Этот госпиталь занимает ведущее место в списке «America’s Best Hospitals» (Лучшие

госпитали Америки) за 2011 – 2012 г.

• Memorial Regional Hospital

Один из крупнейших госпиталей на территории штата Флорида, был основан в 1953 году

и на сегодняшний день является лидирующим госпиталем в составе Memorial Healthcare

System.

• Plantation General Hospital

Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals»

(Лучшие госпиталя Америки), а палаты специально оборудованы так, что излучают

домашнее тепло и уют.

• South Miami Hospital

Госпиталь имеет безупречную репутацию по качеству обслуживания пациентов и входит

в верхние строчки «Tоп-100? лучших госпиталей в США.

• Jackson Memorial Hospital

Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals»

(Лучшие госпиталя Америки).

Это далеко не полный список медицинских учреждений.

Конец новой странички

Продолжение предыдущей страницы



Мы прекрасно понимаем, что нахождение за границей – это дополнительная

психологическая и эмоциональная нагрузка. Мы готовы взять на себя все

организационные хлопоты, связанные с пребыванием в медицинском учреждении, что бы

Вы чувствовали себя в окружении комфорта и абсолютной безопасности.

Посетите раздел О нас (clickable link)смотри документ О нас чтобы больше узнать о

нашей компании