/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html, body,
h1, h2, h3, h4, h5, h6,
form, fieldset,
p, ol, ul, li,
dt, dd, dl,
table, th, tr, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: serif; color: #663}
img, fieldset, input, textarea, select { border: 0; margin: 0; }

html>body { font-size: 10px; }

.common_body {
    background: #fff url(secondary_bg.jpg) no-repeat center top;
    background-position: center 40px;
    color: #555;
    font: 72.5% sans-serif;
    text-align: center;
    text-wrap: normal;
}
.special_body {
    background: #fff url(main_bg.jpg) no-repeat center top;
    background-position: center 40px;
    font: 72.5% sans-serif;
    text-align: center;
    text-wrap: normal;
}

#wrapper { margin: 0 auto; text-align: left; width: 760px; }
#wrapper .clearf { clear: both; height: 30px; }
#header { height: 84px; margin-top: 50px;}

.toolbar { position: absolute; top: 0; left: 0; width: 100%; background-color: #cccccc; }
.toolbar div {margin: 0 auto; width: 700px; height: 40px;}
.toolbar a {color: #663; font-size: 1.6em; font-family: 'Oranienbaum', sans-serif;}
.toolbar a:hover {color: #633;}

#footer { background: url(div.gif) no-repeat; margin: 0 20px; padding: 30px 0; }
#footer .logo { float: left; margin: 0 59px 0 24px; }
#footer p { color: #663; font: 1.1em/1.8 'Oranienbaum', serif, text-align: right}
#footer p a { color: #663; margin: 0 5px; }
#footer p .main { margin-left: 0; }
#footer p a:hover { color: #000; }



ul#nav { float: left; height: 44px; list-style: none; width: 760px; }
#nav li { float: left; height: 44px; padding: 0; margin: 0 0 0 20px; }
#nav li a { color: #663; font-size: 1.6em; display: block; height: 100%; overflow: hidden; width: 100%; }
#nav li a:hover { color: #633; }



#feature { height: 320px; margin-left: 20px; width: 720px; }
#featurettes { height: 253px; margin-left: 16px; }
#featurettes div { float: left; margin: 33px 11px 0 0; overflow: hidden; position: relative;}
#featurettes img { height: 184px; width: 232px; }
#feature .item img{ display: block; width: 100%; height: 320px; }
#featurettes .image_over { position: absolute; }
#featurettes .liner {
    width: 232px; height: 40px; position: absolute; top: 144px; margin: 0px;
}
/*background-color: cadetblue;*/

#content ul { display: inline; float: left; width: 200px; }
#content .left { background: url(div.gif) no-repeat 206px 35px; width: 207px; }
#content .left h3, #content .left p { margin-right: 10px; }
#content .right { width: 209px; }
#content { display: inline; float: left; margin-left: 44px; width: 435px; }
#content .block { margin-bottom: -0.6em; }
#content p, #visit p { font-size: 1.2em; line-height: 1.8; margin: 0.6em 0 1.2em 0; }
#content h3, #content p span { color: #366; font: 2em 'Oranienbaum', serif; }
#content h3 a { color: #366; }
#content p span { font-size: 2em; }
#content p a { color: #933; text-decoration: underline; }
#content p a:hover, #content h3 a:hover { color: #000; }

#content ul { color: #663; font-size: 1.2em; line-height: 1.8; list-style: none outside; margin: 0.6em 0 1.2em 0; }
#content li { background: url(dot.gif) no-repeat 0 9px; padding-left: 8px; }

#visit { display: inline; float: right; margin-right: 45px; width: 205px; }
#visit label { color: #663; display: block; font-size: 1.2em; margin-top: 0.6em; }


.input, .textarea, .select {
    background: #ebe5d4;
    color: #555;
    font-family: inherit;
    font-size: 1.2em;
    border-top: 2px solid #d7d2c3;
    border-left: 2px solid #d7d2c3;
}
a { text-decoration: none; }
.input, .textarea { width: 100%; }
.textarea { height: 80px; }
.select { margin-top: 0.6em; width: 100%; }
.submit { margin-top: 0.6em; }
.small { width: 101px; }
.handwritten {font-family: 'Marck Script', cursive; color: #663; }
.underlined {text-decoration: none; border-bottom: 1px solid;}
.font-small {font-size: 1.6em}
.font-medium {font-size: 2em}
.font-large {font-size: 2.4em}

.block { display: block; }
.icon { vertical-align: middle; }
.clear { clear: both; }
.left { display: inline; float: left; }
.right { display: inline; float: right; }
