@import "reset";

$font-handwritten: 'Marck Script', cursive;
$font-original-title: 'Oranienbaum', sans-serif;
$color-app-green: #663;
$color-app-red: #933;


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: serif;
  color: $color-app-green
}

html {
  body {
    font-size: 10px;
    top: -50px !important;
    position: relative;
  }
}

.common_body {
  background: #fff url(secondary_bg.jpg) no-repeat center 40px;
  color: #555;
  font: 72.5% sans-serif;
  text-align: center;
  text-wrap: normal;
}

.special_body {
  background: #fff url(main_bg.jpg) no-repeat center 40px;
  font: 72.5% sans-serif;
  text-align: center;
  text-wrap: normal;
}

#wrapper {
  margin: 0 auto;
  text-align: left;
  width: 760px;
  .clearf {
    clear: both;
    height: 30px;
  }
}

#header {
  height: 84px;
  margin-top: 50px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cccccc;

  div {
    margin: 0 auto;
    width: 700px;
    height: 40px;
  }

  a {
    color: $color-app-green;
    font-size: 1.6em;
    font-family: $font-original-title;

    &:hover {
      color: $color-app-red;
    }
  }
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

#google_translate_element {
  width: 100px;
  display: inline-block;

  div {
    height: 100%;
  }

  .goog-te-gadget {
    width: 100px;

    .goog-te-gadget-simple {
      width: 100px;
      height: 20px;
      font-size: 12px;
    }
  }

  a {
    span {
      font-size: 12px;
    }
  }

  img {
    display: none;
  }

}

#footer {
  background: url(div.gif) no-repeat;
  margin: 0 20px;
  padding: 30px 0;

  .logo {
    float: left;
    margin: 0 59px 0 24px;
  }

  .main {
    margin-left: 0;
  }

  p {
    color: $color-app-green;
    font-family: $font-original-title;
    line-height: 1.8em;
    text-align: left;

    a {
      color: $color-app-green;
      margin: 0 5px;

      &:hover {
        color: #000;
      }
    }
  }

  .footer_menu {
    ul#nav {
      li {
        a {
          font-size: 12.4px;
        }
      }

    }
  }

}

ul#nav {
  float: left;
  height: 44px;
  list-style: none;
  width: 100%;

  li {
    float: left;
    height: 44px;
    padding: 0;
    margin: 0 0 0 20px;

    a {
      color: $color-app-green;
      font-size: 1.6em;
      display: block;
      height: 100%;
      overflow: hidden;
      width: 100%;
      &:hover {
        color: $color-app-red;
      }
    }
  }
}

#feature {
  height: 320px;
  margin-left: 20px;
  width: 720px;

  .item img {
    display: block;
    width: 100%;
    height: 320px;
  }
}

#featurettes {
  height: 253px;
  margin-left: 16px;

  div {
    float: left;
    margin: 33px 11px 0 0;
    overflow: hidden;
    position: relative;
  }

  img {
    height: 184px;
    width: 232px;
  }

  .image_over {
    position: absolute;
  }

  .liner {
    width: 232px;
    height: 40px;
    position: absolute;
    top: 144px;
    margin: 0px;
  }

}

.superLiner {
  font-family: serif;
  text-align: center;
  padding-top: 5px;
  line-height: 85%;
  margin-left: 20px;
  position: relative;
  top: -100px;
  left: 0px;
  color: #ffffff;
  height: 80px;
  width: 720px;
  background: rgb(152, 178, 198);
  background: rgba(152, 178, 198, .8);
}

#content {

  display: inline;
  float: left;
  margin-left: 44px;
  width: 435px;

//  ul {

//    width: 200px;
//  }
  .left {
    background: url(div.gif) no-repeat 206px 35px;
    width: 207px;
    h3,p{
      margin-right: 10px;
    }
  }
  .right {
    width: 209px;
  }
  .block {
    margin-bottom: -0.6em;
  }
  p{
    color: #555;
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0.6em 0 1.2em 0;
  }
  h3, p span {
    color: #366;
    font: 2em serif;
  }
  h3 a {
    color: #366;
  }
  p span {
    font-size: 2em;
  }
  a {
    color: #933;
    text-decoration: underline;
  }
  a:hover, a:hover {
    color: #000;
  }

  ul {
    color: $color-app-green;
    font-size: 1.2em;
    line-height: 1.8;
    list-style: none outside;
    margin: 0.6em 0 1.2em 0;

    li {
      background: url(dot.gif) no-repeat 0 9px;
      padding-left: 8px;
    }

    a {
      color: $color-app-green;
      text-decoration: none;

      &:hover {
        color: $color-app-green;
        text-decoration: underline;
      }
    }

  }

  ol {
    color: $color-app-green;
    line-height: 1.8;
    margin: 0.6em 0 1.2em 0;
    padding-left: 20px;

    li {
      padding-left: 8px;
    }

  }

  .tree-colomn {
    li {
      font-size: 1em;
      width: 140px;
    }
    ul {
      width: 140px;
      margin-left: 5px;
      display: inline;
      float: left;
    }
  }

  ol.numeric_list {
    color: $color-app-green;
    font-size: 1.1em;
    line-height: 1.8;
    list-style-position:inside;
    margin: 0.6em 0 1.2em 0;
    li {
      background: no-repeat;
      a {
        color: #933;
        text-decoration: underline;
      }
      a:hover {
        color: #000;
      }
    }
  }

}

.hospital {

  text-align: justify;

  img {
    width: 100%;
  }

  ul {
    text-align: left;
  }
}

#visit {
  display: inline;
  float: right;
  margin-right: 45px;
  width: 205px;

  label {
    color: $color-app-green;
    display: block;
    font-size: 1.1em;
    margin-top: 0.6em;
  }

  p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0.6em 0 1.2em 0;
  }

  .small_title {
    margin-top: 20px;
    color: #366;
    text-decoration: underline;
    font: 14px serif;
  }

  img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.submit {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px #666666;
  -moz-box-shadow: 3px 3px 7px #666666;
  box-shadow: 3px 3px 7px #666666;
  font-family: $font-handwritten;
  color: #ffffff;
  font-size: 18px;
  background: $color-app-green;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: #80803f;
    text-decoration: none;
  }
}

.submit_blue {
  cursor: pointer;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 7px #666666;
  -moz-box-shadow: 3px 3px 7px #666666;
  box-shadow: 3px 3px 7px #666666;
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  background: #408f8f;
  padding: 10px 20px 10px 20px;

  &:hover {
    background: #4eadad;
    text-decoration: none;
  }
}

.banner {
  margin-left: 20px;
  width: 720px;
}

.input, .textarea, .select {
  background: #ebe5d4;
  color: #555;
  font-family: inherit;
  font-size: 1.1em;
  border-top: 2px solid #d7d2c3;
  border-left: 2px solid #d7d2c3;
}

a {
  text-decoration: none;
}

.input, .textarea {
  width: 100%;
}

.textarea {
  height: 80px;
}

.select {
  margin-top: 0.6em;
  width: 100%;
}

.submit {
  margin-top: 0.6em;
}

.small {
  width: 101px;
}

.handwritten {
  font-family: $font-handwritten;
  color: $color-app-green;
}

.underlined {
  text-decoration: none;
  border-bottom: 1px solid;
}

.font-small {
  font-size: 16px;
}

.font-medium {
  font-size: 20px;
}

.font-large {
  font-size: 24px;
}

.block {
  display: block;
}

.icon {
  vertical-align: middle;
}

.clear {
  clear: both;
}

.left {
  display: inline;
  float: left;
}

.right {
  display: inline;
  float: right;
}

.feedback {
  width: 100%;

  img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .smile {
    height: 16px;
    width: 16px;
    margin: 0;
  }

  .title {

  }

  .content {

  }
}
