<div style="text-align: justify;">
  <h1 class="underlined">Услуги няни и гувернантки</h1>

  <p>
    Современный темп жизни диктует нам, молодым родителям, свои условия. И если еще десять-пятнадцать лет назад такая
    роскошь, как услуги няни для ребенка была доступна, лишь крайне обеспеченным людям, сейчас подобные услуги стали
    жизненной необходимостью. Компания US BABY TIME предлагает:
  </p>

  <ul>
    <li>Услуги няни для грудничка;</li>
    <li>Няня (воспитатель) для ребенка дошкольного возраста;</li>
    <li>Няня для ребенка школьного возраста;</li>
    <li>Гувернера;</li>
  </ul>

  <p><b>В обязанности няни входит:</b></p>
  <ul>
    <li>Соблюдение режима;</li>
    <li>Уход и кормление ребенка;</li>
    <li>Прогулки;</li>
    <li>Физическое развитие;</li>
    <li>Поддержание порядка в детской комнате;</li>
    <li>Содержание в порядке детских вещей;</li>
    <li>Развитие по возрасту</li>
  </ul>

  <p><b>Няни могут работать по следующим режимам:</b></p>
  <ul>
    <li>на полный рабочий день;</li>
    <li>неполный рабочий день;</li>
    <li>несколько раз в неделю;</li>
    <li>несколько часов для прогулок, сопровождения ребёнка в школы, секции и т.п.</li>
    <li>ночной график работы;</li>
    <li>с проживанием в Вашем доме</li>
  </ul>
  <p>
    Наши няни и гувернеры имеют высшее или среднее педагогическое образование, опыт работы с детьми в гос. учреждениях
    или семьях, положительные рекомендации с прошлых мест работы, хороший культурный уровень, владеют несколькими
    языками.
  </p>

  <p>
    Менеджеры компании US BABY TIME c удовольствием ответят на все Ваши вопросы и подберут ту няню, которая будет лучшим
    другом для Вас и Вашего ребенка.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.</p>

</div>