<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Сопровождение на роды и помощь при выписке из
    <em class="handwritten" style="font-size: 30px;">госпиталя</em></h1>

  <p>
    <span style="font-size: 1.5em;">
    Встречайте самое главное событие в жизни вашей семьи под солнцем солнечного штата Флорида вместе с вашей семьей.
    Все формальности и заботы оставьте специалистам компании US BABY TIME.
    </span>
  </p>

  <p>
    Специалисты компании US BABY TIME окажут сопровождение в госпиталь при родах: трансферт на роды, оформление
    поступления в госпиталь, проведение всех необходимых обследований при поступлении, предоставят при необходимости
    ассистента-переводчика на протяжении всего времени пребывания в медицинском учреждении.</p>

  <p>
    При нахождении в госпитале будущей маме будет оказано полное комплексное обслуживание в зависимости от ее состояния:
    эпидуральная анестезия, снятие симптомов боли после родов, предоставится одноместная палата на два дня при
    естественных родах и на три дня при кесаревом сечении, в дополнение к этому индивидуальное питание, телевидение,
    интернет и возможность пользования детской комнатой.</p>

  <p>
    Наши специалисты окажут вам сопровождение при выписке из госпиталя после родов: трансферт домой, оформление
    документов при выписке из госпиталя, в том числе получение всех квитанций об оплате, предоставят при необходимости
    ассистента-переводчика при выписке из госпиталя.</p>

  <p>Посетите раздел  <%= link_to 'Подбор госпиталя', support_hospital_path %>, чтобы больше узнать о госпиталях.</p>

</div>