<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <%= image_tag 'banner_support.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">

  <h1 class="underlined font-large">Крещение вашего <em class="handwritten" style="font-size: 30px;">ребенка</em></h1>

  <p>
    <span style="font-size: 1.5em;">
      Компания US BABY TIME оказывает сопровождение и помощь в крещении ребенка по канонам вашей конфессии (Православие,
      Католицизм, Иудаизм, Мусульманство).
    </span>
  </p>

  <p>
    Главное - это выбрать подходящую церковь (костел, мечеть, синагогу) и спланировать все заранее. Обряд может быть
    проведен в любой день, но у каждого храма есть свой распорядок и свои правила, поэтому наши представители возьмут
    все организационные вопросы на себя. Также возможна услуга фотосъемки в храме и на территории храма с нашим
    профессиональным фотографом <%= link_to 'Еленой Кухаревой', organize_photographer_path %>.
  </p>

  <p>
    Посетите раздел  <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.
  </p>

</div>