<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div class="doctor">
  <h1 class="underlined">Педиатры в Майами</h1>


  <div class="doc_info">
    <div class="title">
      Марат Зельцман
    </div>
    <div class="photo">
      <%= image_tag 'doc_1_min.jpg' %>
    </div>
    <div class="about">
      <p>
        Марат Зельцман – почетный член Американской Ассоциации Педиатров. В течение многих лет он получает награды как
        лучший педиатр. <br/>
        2002 – закончил Nova Southeastern University College Of Osteopathic Medicine, Fort Lauderdale, Florida, United
        States <br/>
        2002 – работает в Plantation General Hospital, Broward General Hospital. Открывает частную практику. <br/>
        C 2011 – работает в Aventura Medical Center <a href="/support/doctor/1">Далее …</a><br/>
      </p>
    </div>
  </div>

</div>