<div style="text-align: justify;">

  <h1 class="underlined">Выбор врача-гинеколога и врача-педиатра (оформление необходимых документов).</h1>

  <p>
    Мы сотрудничаем только с ведущими многоязычными гинекологами и педитрами Флориды, высокий уровень квалификации
    которых подтвержден не только лицензией, но и долгими годами эффективной работы. Вам предстоит сделать выбор врача
    из специалистов, успешно принявших роды у знаменитостей и звезд с мировым именем. Мы рекомендуем Вам лучших
    существующих специалистов, а Вам остается сделать выбор!
  </p>

  <p>Наши рекомендации: </p>

  <p>
    Уэйн ДиДжакомо <br>
    Врач высшей категории, Профессор кафедр Гинекологии и Акушерства Barry University и Nova University. Доктор Wayne
    DiGiacomo, входит в число лучших акушеров-гинекологов Флориды с более чем 30-летним опытом работы.
    Далее … (clickable link) далее все с фотографиями и текстом как на сайте usbabytime.com
  </p>

  <p>
    Светлана Масляк <br>
    Светлана Масляк – профессионал своего дела, акушер-гинеколог, доктор медицины, член Американского Совета по вопросам
    акушерства и гинекологии.
    В 1987 году Светлана закончила Ивано-Франковскую Медицинскую Академию .
    В 2005 году доктор Масляк окончила Университет медицины и стоматологи в Нью- Джерси со специализацией Акушерство и
    гинекология
    Далее …(clickable link) далее все с фотографиями и текстом как на сайте usbabytime.com
  </p>


  <p>Семен Цинкер</p>

  <p>Розлин Бонилла</p>

  <p>Илеана Перес</p>

  <p>Матар Набил</p>

  <%= link_to 'Официальный Сертификат от Women to Women OB GYN Care о дружбе и партнерстве с компанией US BABY TIME.', asset_path("certificate.pdf") %>


  Наши рекомендации:
  <p>
    <br>Марат Зельцман
    <br>Марат Зельцман – почетный член Американской Ассоциации Педиатров. В течение многих лет он получает награды как
    лучший педиатр.
    <br>2002 – закончил Nova Southeastern University College Of Osteopathic Medicine, Fort Lauderdale, Florida, United
    States
    <br>2002 – работает в Plantation General Hospital, Broward General Hospital. Открывает частную практику.
    <br>C 2011 – работает в AventuraMedical Center
    Далее …
  </p>

  <p>
    Наши педиатрические Партнеры (Pediatric Associates) — одна из самых старых и наиболее уважаемых педиатрических групп
    в
    Соединенных Штатах. Основанные в 1955, Pediatric Associates открыли свой первый офис в городе Голливуд, штат
    Флорида.
  </p>

  <p>
    <i>
      Pediatric Associates предоставляет свои услуги для детей всех возрастов: от новорожденных до подростков.
      Сертифицированные в США педиатры группы Pediatric Associates числятся в штате большинства главных госпиталей
      Майами.
      Миссия Pediatric Associates состоит в том, чтобы предоставить самые лучшие и самые современные медицинские услуги
      для
      детей.
    </i>
  </p>

  <p>
    Вы можете воспользоваться нашими рекомендациями, либо поделиться своими идеями на нашем форуме Facebook.
    Входим в раздел нас рекомендуют на сайте usbabytime.com + ссылка на форум Facebook
  </p>

  <p>Все новые предложения нами ценятся и принимаются во внимание.</p>

</div>