<div style="text-align: justify;">

  <h1 class="underlined font-large" style="text-align: left;">
    <em class="handwritten" style="font-size: 30px;">Выбор</em> врача-гинеколога и врача-педиатра</h1>

  <p>
    <span style="font-size: 1.5em;">Мы сотрудничаем только с ведущими многоязычными гинекологами и педитрами Флориды</span>
    , высокий уровень квалификации которых подтвержден не только лицензией, но и долгими годами эффективной работы.
    Вам предстоит сделать выбор врача из специалистов, успешно принявших роды у знаменитостей и звезд с мировым именем.
    Мы рекомендуем Вам лучших существующих специалистов, а Вам остается сделать выбор!
  </p>

  <h3>Наши рекомендации:</h3>

  <ul>
    <li><%= link_to 'Гинекологи в Майами' %></li>
    <li><%= link_to 'Педиатры в Майами' %></li>
  </ul>

  <%= link_to 'Официальный Сертификат от Women to Women OB GYN Care о дружбе и партнерстве с компанией US BABY TIME', asset_path("certificate.pdf") %>

  <p>
    Наши педиатрические Партнеры (Pediatric Associates) — одна из самых старых и наиболее уважаемых педиатрических групп
    в США. Основанные в 1955, Pediatric Associates открыли свой первый офис в городе Голливуд, штат Флорида.
  </p>

  <p>
    <i>
      Pediatric Associates предоставляет свои услуги для детей всех возрастов: от новорожденных до подростков.
      Сертифицированные в США педиатры группы Pediatric Associates числятся в штате большинства главных госпиталей
      Майами. Миссия Pediatric Associates состоит в том, чтобы предоставить самые лучшие и самые современные медицинские
      услуги для детей.
    </i>
  </p>

  <p>
    Вы можете воспользоваться нашими рекомендациями, либо поделиться своими идеями на нашем форуме
    <%= link_to 'Facebook', 'https://www.facebook.com/groups/450956344973158/' %>.
  </p>

  <p>Все новые предложения нами ценятся и принимаются во внимание.</p>

</div>