<div style="text-align: justify;">
  <h1 class="underlined">Подбор госпиталя (ознакомительные туры по госпиталю, оформление необходимых документов между
    Заказчиком и госпиталем)</h1>

  <p>
    <i>
      Высококвалифицированные врачи и новейшие достижения американской медицины - залог успешных родов и здоровья
    Вашего будущего ребенка.
    </i>
  </p>

  <p>
    Мы можем рекомендовать Вам, исходя из ваших пожеланий и нашего опыта, где лучше провести предродовой период и роды,
    но в конечном итоге – выбор конечно за вами.
  </p>

  <p>
    Ниже представлены лучшие госпитали Майами с информацией о ценах, месторасположении и отзывами наших Клиентов.
  </p>

  <p>
    Многие клиники Флориды оборудованы современным медицинским оборудованием, предлагают комфортабельные родильные
    комнаты с телевизором, видео и WI-FI, а также разнообразное меню для будущих мам.
  </p>

  <p>
    Компания US BABY TIME располагает необходимой информацией о родильных центрах и родильных отделениях в госпиталях
    Флориды. Познакомьтесь с основными из них:
  </p>

  <p>
    Наши рекомендации: госпитали в Майами (Необходимо раздел заполнить как раздел Госпитали на сайте usbabytime.com с
    фотографиями и текстом!!)
    Memorial Regional Hospital (clickable link) При нажатии на каждую ссылку должно быть тоже самое, что на сайте
    usbabytime.com в разделе госитали)
  </p>

  <p>
    http://usbabytime.com/?page_id=711 (clickable link) далее все как на сайте usbabytime.com
    Broward General Medical Center (clickable link)
  </p>

  <p>
    http://usbabytime.com/?page_id=712
    Mount Sinai Medical Center (clickable link) далее все как на сайте usbabytime.com
  </p>

  <p>
    http://usbabytime.com/?page_id=713 (clickable link) далее все как на сайте usbabytime.com
  </p>

  <p>Это далеко не полный список госпиталей.</p>

  <p>
    По приезду в США, компания US BABY TIME организует по вашему желанию туры по госпиталям. Наш сотрудник подскажет все
    преимущества того или иного госпиталя, заключит от Вашего имени договор на оказание врачебных услуг по рождению
    ребенка.
  </p>

  <p>
    В Америке при госпиталях существуют различные курсы подготовки будущих родителей. Почти каждый из них предлагает
    курсы еженедельно. Занятие в основном идут по лактации, подготовке к родам, безопасности малыша, будущему воспитанию
    ребенка. Представители компании US BABY TIME запишет вас на курсы предлагаемые госпиталем по вашему желанию,
    организует трансфер и при необходимости сопровождение и переводчика.
  </p>

</div>