<div style="text-align: justify;">
  <h1 class="underlined font-large">Список рекомендуемых
    <em class="handwritten" style="font-size: 30px;">госпиталей</em></h1>
  <ul>
    <li>
      <b>Broward General Medical Center</b> <br/>
      На сегодняшний день один из самых современных госпиталей Майами и Южной Флориды.
    </li>
    <br>

    <li>
      <b>Mount Sinai Medical Center</b> <br/>
      Этот госпиталь занимает ведущее место в списке «America’s Best Hospitals» (Лучшие госпитали Америки) за 2011 –
      2012г.
    </li>
    <br/>

    <li>
      <b>Memorial Regional Hospitalbr</b> <br/>
      Один из крупнейших госпиталей на территории штата Флорида, был основан в 1953 году и на сегодняшний день является
      лидирующим госпиталем в составе Memorial Healthcare System.
    </li>
    <br/>

    <li>
      <b>Plantation General Hospital</b> <br/>
      Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals» (Лучшие госпиталя Америки), а
      палаты специально оборудованы так, что излучают домашнее тепло и уют.
    </li>
    <br/>

    <li>
      <b>South Miami Hospital</b> <br/>
      Госпиталь имеет безупречную репутацию по качеству обслуживания пациентов и входит в верхние строчки «Tоп-100?
      лучших госпиталей в США.
    </li>
    <br/>

    <li>
      <b>Jackson Memorial Hospital</b> <br/>
      Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals» (Лучшие госпиталя Америки).
    </li>
    <br/>

  </ul>

  <p>Это далеко не полный список медицинских учреждений.</p>
</div>