<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Сопровождение на регулярные приемы к
    <em class="handwritten" style="font-size: 30px;">врачу-педиатру</em></h1>

  <p>
    <span style="font-size: 1.5em;">Консультация педиатра может существенно сократить количество вопросов, которые
      встают перед родителями.</span> Американские
    специалисты четко знают, в каком возрасте и что может беспокоить ребенка, могут дать совет по уходу, вскармливанию и
    закаливанию. Но все это возможно только в том случае, если Вы обратитесь к настоящему профессионалу!
  </p>

  <p>
    Специалисты компании US BABY TIME окажут полное сопровождение на регулярные приемы к врачу-педиатру: трансферт,
    оформление, прием, проведение всех необходимых обследований при поступлении, предоставят при необходимости
    ассистента-переводчика на протяжении всего времени пребывания в медицинском учреждении, помогут осуществить оплату.
    <i>
      Став нашим клиентом, Вам не придется тратить лишнее время на поиск информации, думать обо всех важных
      формальностях,
      волноваться о возможных дорогостоящих ошибках. Сэкономленное время, которое могло быть упущено, гораздо лучше
      потратить на более приятные вещи, тем более в солнечной Флориде.
    </i>
  </p>

  <p>
    В наших партнерских клиниках Вы сможете получить грамотную консультацию высококвалифицированного специалиста,
    который поможет решить ряд проблем, связанных с питанием, уходом и здоровьем малыша.
  </p>

  <p>
    Наш детский врач во Флориде - это настоящий профессионал своего дела, он способен найти правильный подход не только
    к каждому маленькому пациенту, но и к его родителям. Обратившись к хорошему врачу, Вы поймете что это не
    преувеличение. Консультация педиатра профессионала принесет только положительные эмоции Вам и Вашему малышу. Вы
    получите ответы на интересующие Вас вопросы и устраните все проблемы совместно с врачом в сопровождении нашего
    специалиста.
  </p>

  <p>
    Посетите раздел <%= link_to 'Выбор врача-гинеколога и врача-педиатра', support_doctor_selection_path %>, чтобы больше узнать о врачах.
  </p>
</div>