<div style="text-align: justify;">
  <h1 class="underlined">Сопровождение на регулярные приемы к врачу-педиатру (наблюдение).</h1>

  <p>
    Консультация педиатра может существенно сократить количество вопросов, которые встают перед родителями. Американские
    специалисты четко знают в каком возрасте и что может беспокоить ребенка, могут дать совет по уходу, вскармливанию и
    закаливанию. Но все это возможно только в том случае, если Вы обратитесь к настоящему профессионалу!
  </p>

  <p>
    Специалисты компании US BABY TIME окажут полное сопровождение на регулярные приемы к врачу-педиатру: трансферт,
    оформление, прием, проведение всех необходимых обследований при поступлении, предоставят при необходимости
    ассистента-переводчика на протяжении всего времени пребывания в медицинском учреждении, помогут осуществить оплату.
    <i>
      Став нашим клиентом, Вам не придется тратить лишнее время на поиск информации, думать обо всех важных
      формальностях,
      волноваться о возможных дорогостоящих ошибках. Сэкономленное время, которое могло быть упущено, гораздо лучше
      потратить на более приятные вещи, тем болеее в солнечной Флориде.
    </i>
  </p>

  <p>
    В наших партнерских клиниках Вы сможете получить грамотную консультацию высококвалифицированного специалиста,
    который поможет решить ряд проблем, связанных с питанием, уходом и здоровьем малыша.
  </p>

  <p>
    Наш детский врач во Флориде - это настоящий профессионал своего дела, он способен найти правильный подход не только
    к каждому маленькому пациенту, но и к его родителям. Обратившись к хорошему врачу, Вы поймете что это не
    преувеличение. Консультация педиатра профессионала принесет только положительные эмоции Вам и Вашему малышу. Вы
    получите ответы на интересующие Вас вопросы и устраните все проблемы совместно с врачом в сопровождении нашего
    специалиста.
  </p>

  <p>
    Посетите раздел <%= link_to 'Выбор врача-педиатра', support_doctor_selection_path %>, чтобы больше узнать о врачах.
  </p>
</div>