<div style="text-align: justify;">
  <h1 class="underlined">Оформление документов США и России.</h1>

  <p><i>Получение вашим ребенком Американского гражданства по факту рождения на территории США – это залог будущего
    ребенка.</i></p>

  <p>
    Специалисты компании US BABY TIME помогут Вам оформить и Американские и Российские документы для новорожденного
    ребенка. Воспользовавшись нашими услугами Вы значительно сэкономите Ваше время и деньги на полет в консульство РФ в
    Вашингтоне. Мы не только поможем оформить все документы, но и сделаем это в самые кратчайшие сроки. Все документы
    оформляются в рамках существующего законодательства и с соблюдением всех необходимых требований.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании</p>

  <h3 class="underlined">Документы.</h3>

  <p>
    Ваш ребенок, рождённый в США, будет иметь два гражданства: по рождению –гражданство США (14-ая поправка к
    Конституции США) и по родителям -гражданство РФ, если хотя бы один из родителей гражданин РФ.
  </p>

  <p><b>Документы США:</b></p>

  <blockquote>
    Четырнадцатая поправка к Конституции США гарантирует гражданство США, рожденным или натурализованным лицам:
    Amendment XIV, Section 1, Clause 1: «Аll persons born or naturalized in the United States, and subject to the
    jurisdiction thereof, are citizens of the United States and of the State wherein they reside».
    «Любой, кто родился на территории США, является гражданином США».
  </blockquote>
  <ol>
    <li>
      Birth certificate<br>
      Получение Свидетельства о рождении США (Birth Certificate).
    </li>
    <li>
      Social Security Number<br>
      Подача и получение документа Social Security Number (SSN) в социальной федеральной службе, который выдаётся
      каждому гражданину страны.
    </li>
    <li>
      US Passport<br>
      Подготовка и подача документов на паспорт США (срочное получение паспорта США). Если вас интересует вопрос, как
      получив гражданство в США, остаться дальше в стране, обратитесь за более детальной информацией к <%= link_to 'нашим
      специалистам.', immigration_immigration_service_path %>
    </li>
  </ol>

  <h3 class="underlined">Документы РФ:</h3>

  <p>
    Ребёнок, родившийся в США, становится гражданином Российской Федерации, если его родители, или хотя бы один из
    родителей, являются гражданами России. Ст. 12 ФЗ-62 от 31.05.02, приобретение гражданства Российской Федерации по
    рождению.
  </p>

  <ol>
    <li>Свидетельство о рождении США, переведенное и заверенное апостилем (штамп о гражданстве РФ).</li>
    <li>
      Паспорт РФ.<br>
      Подготовка и подача документов на паспорт РФ. (Вписывание в заграничный паспорт или получение отдельно паспорта
      РФ.)
    </li>
  </ol>

  <p>
    Если вас интересует вопрос, как получив гражданство РФ для ребенка, остаться в США дальше, обратитесь за более
    детальной информацией к <%= link_to 'нашим специалистам.', immigration_immigration_service_path %>
  </p>

  <p>Подробные услуги, оказываемые компанией US BABY TIME по получению документов:</p>

  <p>Услуги, оказываемые компанией US BABY TIME по получению документов:</p>

  <ul>
    <li>подтверждение с Посольством РФ правильность написания имен (т.к. правила транскрипции меняются);</li>
    <li>консультирование клиента и помощь в заполнении формы SSN и получении SSN (номера социального страхования). SSN
      присылается государственными органами по месту проживания клиента или сотрудника компании (по желанию);
    </li>
    <li>консультирование клиента и помощь в заполнении формы на получении американского свидетельства о рождении в
      госпитале. Сопровождение клиента  в Департамент Здравоохранения для получения US свидетельства о рождении;
    </li>
    <li>получение апостиля на Cert of Birth (свидетельство о рождении) и на другие необходимые документы;</li>
    <li>перевод свидетельства о рождении и апостиля на русский или другой язык и нотариальное заверение перевода;</li>
    <li>консультирование клиента и помощь  в получении американского паспорта, в стандартные сроки (4-6 недель); </li>
    <li>контроль изготовления и отправки государственными службами US паспорта в необходимые сроки;</li>
    <li>по необходимости – консультирование и помощь в оформлении американского паспорта в случае, когда Отец ребенка
      находится не на территории США и не может приехать;
    </li>
    <li>нотариальное заверение всех необходимых документов;</li>
    <li>консультирование клиента и помощь  в получении  штампа о гражданстве на американское свидетельство о рождении в
      Российском консульстве;
    </li>
    <li>вписании ребенка в паспорт родителя, в стандартные сроки (4-8 недель) (по желанию);</li>
    <li>помощь в получении РФ паспорта для ребенка (по желанию);</li>
    <li>помощь в получении справки из госпиталя для получения РФ свидетельства о рождении;</li>
    <li>консультирование клиента и помощь  в получении Российского свидетельства о рождении (по желанию).</li>
  </ul>
   

  <p>
    В случае, когда документы РФ для новорожденного оформляются без поездки, работа выполняется в компетентных органах
    на территории РФ, с привлечением профессиональных юристов.
  </p>

  Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.

</div>