<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Услуги, оказываемые компанией US BABY TIME по получению
    <em class="handwritten" style="font-size: 30px;">документов</em></h1>

  <ul>
    <li>Подтверждение с Посольством РФ правильность написания имен (т.к. правила транскрипции меняются)</li>
    <li>Консультирование клиента и помощь в заполнении формы SSN и получении SSN (номера социального страхования). SSN
      присылается государственными органами по месту проживания клиента или сотрудника компании (по желанию)
    </li>
    <li>Консультирование клиента и помощь в заполнении формы на получении американского свидетельства о рождении в
      госпитале. Сопровождение клиента  в Департамент Здравоохранения для получения US свидетельства о рождении
    </li>
    <li>Получение апостиля на Cert of Birth (свидетельство о рождении) и на другие необходимые документы</li>
    <li>Перевод свидетельства о рождении и апостиля на русский или другой язык и нотариальное заверение перевода</li>
    <li>Консультирование клиента и помощь  в получении американского паспорта, в стандартные сроки (4-6 недель)</li>
    <li>Контроль изготовления и отправки государственными службами US паспорта в необходимые сроки</li>
    <li>По необходимости – консультирование и помощь в оформлении американского паспорта в случае, когда Отец ребенка
      находится не на территории США и не может приехать
    </li>
    <li>Нотариальное заверение всех необходимых документов</li>
    <li>Консультирование клиента и помощь  в получении  штампа о гражданстве на американское свидетельство о рождении в
      Российском консульстве
    </li>
    <li>Вписании ребенка в паспорт родителя, в стандартные сроки (4-8 недель) (по желанию)</li>
    <li>Помощь в получении РФ паспорта для ребенка (по желанию)</li>
    <li>Помощь в получении справки из госпиталя для получения РФ свидетельства о рождении</li>
    <li>Консультирование клиента и помощь  в получении Российского свидетельства о рождении (по желанию)</li>
  </ul>
   
  <p>
    **В случае, когда документы РФ для новорожденного оформляются без поездки, работа выполняется в компетентных органах
    на территории РФ, с привлечением профессиональных юристов.
  </p>
</div>