<div style="text-align: justify;">
  <h1 class="underlined">Лечение родителей в лучших клиниках сша</h1>

  <p>
    Компания US BABY TIME организует продуманные до мелочей консультации с Американскими докторами и лечение в лучших
    клиниках США. При необходимости, еще до вашего приезда, мы проконсультируем ваши документы со специалистом, и
    подготовим вам программу лечения/обследования.
  </p>

  <p>
    Флорида – это не просто отдых за рубежом, но и получение высококвалифицированных медицинских услуг на самом высоком
    уровне.
  </p>

  <p>
    Мы профессионально занимаемся организацией визитов к специалистам в области как общей медицины, так и
    узкоспециализированных направлений: косметическая хирургия, пластическая хирургия и эстетическая стоматология.
    Каждый визит индивидуален, продуман до мелочей и выгодно отличается своей гибкостью к запросам клиента.
  </p>

  <p>
    Каждый год сотни клиентов со всего мира приезжают к нам. Среди них преуспевающие бизнесмены и их жены, публичные
    знаменитости и звезды шоу-бизнеса. Все они получают высококлассное обслуживание и необходимую медицинскую помощь в
    лучших клиниках Флориды.
  </p>

  <p>
    Длительное сотрудничество с ведущими специалистами и медицинскими центрами США позволяет нам предоставлять разумные
    и сдержанные цены при огромном спектре предлагаемых услуг.
  </p>

  <p>Мы сотрудничаем только с лучшими госпиталями и клиниками в Майами, Флорида:</p>

  <h3 class="underlined">Список рекомендуемых госпиталей:</h3>
  <ul>
    <li>
      <b>Broward General Medical Center</b> <br/>
      На сегодняшний день один из самых современных госпиталей Майами и Южной Флориды.
    </li>
    <br>

    <li>
      <b>Mount Sinai Medical Center</b> <br/>
      Этот госпиталь занимает ведущее место в списке «America’s Best Hospitals» (Лучшие госпитали Америки) за 2011 –
      2012г.
    </li>
    <br/>

    <li>
      <b>Memorial Regional Hospitalbr</b> <br/>
      Один из крупнейших госпиталей на территории штата Флорида, был основан в 1953 году и на сегодняшний день является
      лидирующим госпиталем в составе Memorial Healthcare System.
    </li>
    <br/>

    <li>
      <b>Plantation General Hospital</b> <br/>
      Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals» (Лучшие госпиталя Америки), а
      палаты специально оборудованы так, что излучают домашнее тепло и уют.
    </li>
    <br/>

    <li>
      <b>South Miami Hospital</b> <br/>
      Госпиталь имеет безупречную репутацию по качеству обслуживания пациентов и входит в верхние строчки «Tоп-100?
      лучших госпиталей в США.
    </li>
    <br/>

    <li>
      <b>Jackson Memorial Hospital</b> <br/>
      Госпиталь традиционно занимает верхнюю строчку в списке «America’s Best Hospitals» (Лучшие госпиталя Америки).
    </li>
    <br/>

  </ul>

  <p>Это далеко не полный список медицинских учреждений.</p>

  <p>
    Мы прекрасно понимаем, что нахождение за границей – это дополнительная психологическая и эмоциональная нагрузка. Мы
    готовы взять на себя все организационные хлопоты, связанные с пребыванием в медицинском учреждении, что бы Вы
    чувствовали себя в окружении комфорта и абсолютной безопасности.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании</p>

</div>